<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<link rel="shortcut icon" href="../../img/jiuxiu_favicon.ico" mce_href="../../img/jiuxiu_favicon.ico" type="image/x-icon" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"content="IE=9; IE=8; IE=7; IE=EDGE,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>填写商家信息</title>
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/base.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/common.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/merchantinfor.css">
</head>
<body>
<input type="hidden" class="subpath" value="/sellerAdmin/merchant/saveUserdata">
	<div id="jiuxColor" class="jiuw2">
		<div class="jiux-header wjiuxiu jiuw2 clearfix">
			<!-- 头部左侧部分 -->
			<div class="header-l fl clearfix">
				<a href="http://www.test.jiuxiulvxing.com" class="fl">
					<div class="logo">九休旅行</div>
				</a>
				<ul class="clearfix fl">
					<li class="fl"><a href="http://www.test.jiuxiulvxing.com">首页</a></li>
					<li class="fl"><a href="http://www.test.jiuxiulvxing.com/business/">九休商务</a></li>
					<li class="fl"><a href="http://www.test.jiuxiulvxing.com/app/index.html">九休旅行App</a></li>
					<li class="fl active"><a href="http://selleradmin.test.jiuxiulvxing.com/sellerAdmin/home">商家中心</a></li>
				</ul>
			</div>
			<!-- 头部右侧部分 -->
			<div class="header-r fr clearfix">
				<div class="tel">
					<ul>
						<li class="fl staticW m-r">
							<a href="http://selleradmin.test.jiuxiulvxing.com/sellerAdmin/user/login">登录</a>
							<span class="cuttingline"></span>
						</li>
						<li class="fl staticW m-r"><a href="http://selleradmin.test.jiuxiulvxing.com/sellerAdmin/user/register">注册</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="comwidth agreement-box">
					<div class="titbox wdfill">
						<div class="progress clearfix">
							<div class="step start step-on step-fl">
								<div class="step1">1</div>
								<label class="step1">选择身份</label>
							</div>
							<div class="step step-fr step-on">
								<div class="step2">2</div>
								<label class="step2">填写商家信息</label>
							</div>
							<div class="step step-fr ">
								<div class="step3">3</div>
								<label class="step3">上传资质文件</label>
							</div>
							<div class="step step-fr ">
								<div class="step3">4</div>
								<label class="step3">签署协议</label>
							</div>
							<div class="step step-fr ya ">
								<div class="step3">5</div>
								<label class="step3">等待审核</label>
							</div>
						</div>
					</div>
				
		  <!-- 商家信息板块 -->
       <form class="registerform" method="post" action="" autocomplete="off" id="forminfo">
       <div class="panel">
               	<div class="infor-title">请选择您的身份</div>
               	<div class="one">
               	    	   <table class="comtype">
               	    	   			<tr>
               	    	   				<td class="rigtxt ts"><label>旅游企业：</label></td>
               	    	   				<td class="rigcontent listli">
               	    	   					<input type="radio" value="345" name="type" id="travel"  class="flm ccc" /><label >旅行社</label>
               	    	   					<input type="radio" value="46456" name="type" id="" class="lm ddd"/><label class="">旅游商务服务公司</label>
               	    	   					<div class="company">
								               <label class="bomb-con"><input type="radio" value="56" name="city" id="" class="li" /><label>国内社总社</label></label>
							                   <label class="bomb-con"><input type="radio" value="5464" name="city" id="" class="li"/><label>国内社分社</label></label>
								               <label class="bomb-con"><input type="radio" value="5464" name="city" id="" class="li"/><label>出境社总社</label></label>
								               <label class="bomb-con"><input type="radio" value="fssgsd" name="city" id="" class="li"/><label>出境社分社</label></label>
						                    </div>
               	    	   				</td>

               	    	   			</tr>
               	    	   			<tr>
               	    	   				<td class="rigtxt"><label>酒店：</label></td>
               	    	   				<td class="rigcontent">
               	    	   					<input type="radio" value="sdgvs" name="type" id="" class="flm ddd"/><label>集团酒店/连锁酒店</label>
               	    	   					<input type="radio" value="sgvd" name="type" id="" class="lm ddd"/><label class="">单体酒店</label>
               	    	   					<input type="radio" value="dbgd" name="type" id="" class="lm ddd"/><label class="">酒店代理商</label>
               	    	   				</td>
               	    	   			</tr>
               	    	   			<tr>
               	    	   				<td class="rigtxt"><label>票务：</label></td>
               	    	   				<td class="rigcontent">
               	    	   					<input type="radio" value="dbvd" name="type" id="" class="flm ddd"/><label>景区</label>
               	    	   					<input type="radio" value="dbd" name="type" id="" class="lm ddd"/><label class="">游乐园</label>
               	    	   					<input type="radio" value="21231" name="type" id="" class="lm ddd"/><label class="">门票代理商</label>
               	    	   					<input type="radio" value="4324" name="type" id="" class="lm ddd"/><label class="">景区集团</label>
               	    	   					<input type="radio" value="43343" name="type" id="" class="lm ddd"/><label class="">旅游局推广商家</label>
               	    	   				</td>
               	    	   			</tr>
               	    	   			<tr>
               	    	   				<td class="rigtxt"><label>同城活动企业：</label></td>
               	    	   				<td class="rigcontent">
               	    	   					<input type="radio" value="4353" name="type" id="" class="flm ddd"/><label>公司</label>
               	    	   					<input type="radio" value="356" name="type" id="" class="lm ddd"/><label class="">个体工商户</label>
               	    	   					<input type="radio" value="36456" name="type" id="" class="lm ddd"/><label class="">合伙企业</label>
               	    	   					<input type="radio" value="4646" name="type" id="" class="lm ddd"/><label class="">其他组织团体</label>
               	    	   				</td>
               	    	   			</tr>
               	    	   </table>
               	</div>
				<div class="infor-title">请选择您的经营范围</div>
				<div class="two">
						   <table>
						   	       <tr>
							   	       	<td class="rigtxt rigtit"><label>经营范围：</label></td>
							   	       	<td class="rigcontent qdlm">
							   	       		<ol>
								   	       		<li><input type="checkbox" value="sdfcdsv" name="wer" id="" class="k1"/><label>度假路线</label></li>
								   	       		<div class="bomb">
												    <div class="aaa bomb-txt01">
														<label><input type="checkbox" value="sdfcdsv" name="ew" id="" class=""/><label>国内游</label></label>
														<label class="bomb-con"><input type="checkbox" value="253" name="ew" id="" class=""/><label>出境游</label></label>
														<label class="bomb-con"><input type="checkbox" value="3543536" name="ew" id="" class=""/><label>其他(交通卡券、送关、租车、旅游服务等)</label></label>
													</div>
												</div>
								   	       		<li><input type="checkbox" value="5345" name="wefe" id="" class=""/><label>酒店</label></li>
								   	       		<li><input type="checkbox" value="365346546" name="qwew" id="" class=""/><label>门票</label></li>
								   	       		<li><input type="checkbox" value="36346" name="bdb" id="" class="" datatype="*"/><label>特产商品</label></li>
								   	       	</ol>
							   	       	</td>
						   	       </tr>
						   </table>
						   <div class="notes"><span>*</span>请注意如果您需要经营出境游，您的身份必须是出境社总社或出境社分社</div>
				</div>
				
				<div class="infor-title">请选择您的店铺性质</div>
				<div class="three">
						   <table>
						   	       <tr>
							   	       	<td class="rigtxt"><label>店铺性质：</label></td>
							   	       	<td class="rigcontent">
							   	       		<input type="radio" value="4te4t" name="nature" id="" class="flm" checked="checked"/><label>直营店</label>
							   	       		<input type="radio" value="ettt" name="nature" id="" class="lm" /><label>专营店</label>
							   	       	</td>
						   	       </tr>
						   </table>
						   <div class="notes lmnotes"><span>*</span>请注意如果您属于以下身份：旅行社国内社分社、旅行社出境社分社、酒店代理商、个体工商户、合伙企业、其他组织团体您只能作为专营店入驻</div>
				</div>
				<div class="infor-title">店铺负责人信息</div>
               	<div class="four">
               	    	   <table>
               	    	   			<tr>
               	    	   				<td class="rigtxt"><span>*</span><label>商户负责人姓名：</label></td>
               	    	   				<td class="rigcontent"><input  datatype="s" maxlength="60" type="text" value="" name="dggggggg" id="" class="txt01" placeholder="合同签约人的姓名"/></td>
               	    	   			</tr>
               	    	   			<tr>
										<td class="rigtxt"><span class="">*</span><label>负责人证件类型：</label></td>
										<td class="rigcontent" colspan="3"><input type="hidden" id="card_" value="2"><select id="card" class="selectlist">
										  <option value="">--请选择--</option>
										  <option value="0">身份证</option>
										  <option value="1">驾驶证</option>
										  <option value="2">护照</option>
										  <option value="3">导游证</option>
									</select></td>
									</tr>
									<tr>
										  <td class="rigtxt"><span>*</span><label>负责人证件号：</label></td>
										  <td class="rigcontent"><input class="txt01" id="cardtxt" name="sdfsda" datatype="psport" maxlength="18" value="D-34535" placeholder="证件号码"></td>
							        </tr>
               	    	   			<tr>
               	    	   				<td class="rigtxt"><span>*</span><label>负责人手机号：</label></td>
               	    	   				<td class="rigcontent"><input type="text" value="42324" name="ewrwe" id="" class="txt01" datatype="m" maxlength="11" placeholder="负责人手机号"/></td>
               	    	   			</tr>
               	    	   			<tr>
               	    	   				<td class="rigtxt"><span>*</span><label>负责人邮箱：</label></td>
               	    	   				<td class="rigcontent"><input type="text" value="245234" name="werwe" id="" class="txt01" datatype="e" maxlength="80" placeholder="请输入商户负责人邮箱"/></td>
               	    	   			</tr>
               	    	   			<tr>
										<td class="rigtxt vertop"><span class="">*</span><label>法人身份证正面：</label></td>
											<td class="rigcontent imgwidth">
											<span class="imgbox">
											        <div class="canclick">
												         <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											        </div>
											        <div class="plhd"></div><div class="del">删除图片</div>
											        <a class='upldclik'><input type="file" name="adpicfile" class="adpicfile single"></a>
													<input type="hidden" name="ssssss">
									        </span>
										</td>

										<td class="rigtxt widthrig vertop"><span>*</span><label>法人身份证背面：</label></td>
										<td class="rigcontent imgwidth">
											<span class="imgbox">
											        <div class="canclick">
												         <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											        </div>
											        <div class="plhd"></div><div class="del">删除图片</div>
											        <a class='upldclik'><input type="file" name="adpicfile" class="adpicfile single"></a>
													<input type="hidden" name="ssssss">
									        </span>
										</td>
							       </tr>
							       <tr>
							       	<td class="rigtxt vertop"><span>*</span><label>手持身份证照片：</label></td>
										<td class="rigcontent "colspan="3">
											<span class="imgbox">
											        <div class="canclick">
												         <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											        </div>
											        <div class="plhd"></div><div class="del">删除图片</div>
											        <a class='upldclik'><input type="file" name="adpicfile" class="adpicfile single"></a>
													<input type="hidden" name="ssssss">
									        </span>
		                                    <span class="leftimg"><img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/Sample.jpg"/></span>
										</td>
									    
							       </tr>
               	    	   </table>
               	</div>
               	<div class="infor-title">商户信息</div>
               	<div class="five">
               				<table>
	               						<tr>
	               	    	   				<td class="rigtxt"><span>*</span><label>商户名称：</label></td>
	               	    	   				<td class="rigcontent"><input type="text" datatype="s" maxlength="60" value="2342" name="rewr" id="" class="txt01" placeholder="公司主体名称、营业执照上名称"/></td>
	               	    	   			</tr>
	               	    	   			<tr>
	               	    	   				<td class="rigtxt"><span>*</span><label>法定代表人名称：</label></td>
	               	    	   				<td class="rigcontent"><input type="text" datatype="s" maxlength="60" value="245235" name="ghjgh" id="" class="txt01" placeholder="营业执照上的法人名称"/></td>
	               	    	   			</tr>
	               	    	   			<tr>
	               	    	   				<td class="rigtxt"><span>*</span><label>法定代表人身法证：</label></td>
	               	    	   				<td class="rigcontent"><input type="text" datatype="card" maxlength="60" value="254r35r" name="fdgdf" id="" class="txt01"/></td>
	               	    	   			</tr>
	               	    	   			<tr>
	               	    	   				<td class="rigtxt"><span>*</span><label>营业执照号码：</label></td>
	               	    	   				<td class="rigcontent"><input type="text" datatype="n" maxlength="60" value="25r23" name="dfgfdgdf" id="" class="txt01"/></td>
	               	    	   			</tr>
	               	    	   			<tr>
	               	    	   				<td class="rigtxt"><span>*</span><label>税务登记号：</label></td>
	               	    	   				<td class="rigcontent"><input type="text" maxlength="60" value="35435" name="dfgdfg" id="" class="txt01 taxL"/></td>
	               	    	   			</tr>
	               	    	   			<tr>
	               	    	   				<td class="rigtxt"><span>*</span><label>营业地址：</label></td>
	               	    	   				<td class="rigcontent"><input type="text" datatype="s" maxlength="60" value="35r4345" name="fdgfgfd" id="" class="txt01" placeholder="营业执照上的营业地址"/></td>
	               	    	   			</tr>
	               	    	   			<tr>
	               	    	   				<td class="rigtxt"><span>*</span><label>营业范围：</label></td>
	               	    	   				<td class="rigcontent"><textarea tip="" datatype="s" maxlength="60"  class="txt02" name="dfgfdg" value="235r" id="" placeholder="营业执照上的经营范围"></textarea></td>
	               	    	   			</tr>
               				</table>
               	</div>
               	<div class="infor-title">财务信息</div>
					<div class="six">
						<table>
							<tr>
								<td class="rigtxt"><span>*</span><label class="">财务开户银行：</label></td>
								<td class="rigcontent"><select id="bank" class="selectlist">
									  <option value="">--请选择--</option>
									  <option value="0">中国建设银行</option>
									  <option value="1">中国农业银行</option>
									  <option value="2">中国工商银行</option>
									  <option value="1">中国农业银行</option>
									  <option value="2">中国工商银行</option>
									  <option value="1">中国农业银行</option>
									  <option value="2">中国工商银行</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="rigtxt"><span>*</span><label class="">开户名称：</label></td>
								<td class="rigcontent"><input type="text" datatype="*" name="asdfdasdz" maxlength="60" class="txt01"  placeholder="请输入开户行名称"></td>
							</tr>
							<tr>
								<td class="rigtxt"><span>*</span><label class="">结算账号：</label></td>
								<td class="rigcontent"><input type="text"datatype="n10-25" name="dsfsdf" maxlength="25" class="txt01"  placeholder="请输入结算账号"></td>
							</tr>
							<tr>
								<td class="rigtxt"><span>*<span/><label>财务结算开户行：</label></td>
								<td class="rigcontent">
									 <input type="hidden" id="province_" value="430000">
									<input type="hidden" id="city_" value="430100">
									<select id="province"><option value="35r435">--请选择--</option></select>
									<select id="city" class="ml10"><option value="3453">--请选择--</option></select>
									<span class="inblock"><input class="txt06" datatype="*" maxlength="60" placeholder="请填写详细的开户行名称"></span>
								</td>
							</tr>
						</table>
					</div>
					<div class="infor-title">店铺命名</div>
					<div class="seven">
					     <div class="shopname"><span>*</span><label>店铺名称：</label><input type="text" datatype="s" maxlength="60" name="sfsd" value="35435" id="" class="rigcontent nameinput txt04"  placeholder="请输入对公结算账号开户行名称"></div>
					     <div class="notes namelm"><span>*</span><label>店铺名称要符合店铺命名规范</label></div>
					 </div>  
			</div>
        </form> 
					 <div class="identity">
					  <div class="nextpage"><a href="javascript:history.go(-1);">上一页</a><a href="javascript:;" class="subt">下一页</a></div>
					  </div>
</div>
	
	<!-- 尾部开始 -->
	<div id="footID">
		<div class="jiux-footer jiuw2">
			<div class="footer-top ">
				<div class="footID clearfix jiuw2"> 
					<ul class="fl">
						<li><a href="http://www.test.jiuxiulvxing.com/about/aboutus.html">关于九休</a></li>
						<li><a href="http://www.test.jiuxiulvxing.com/about/contactus.html">联系我们</a></li>
						<li><a href="http://www.test.jiuxiulvxing.com/feedback/">意见反馈</a></li>
						<li>招商咨询&nbsp;&nbsp;4000-696-888/9:00~22:00，周一到周日</li>
					</ul>
					<div class="fr">
						<a class="wb"></a>
						<a class="wx"><i></i></a>
						<a class="qq"></a>
					</div>
				</div>
			</div>
			<div class="footer-bom">
				<div class="footID jiuw2">
					<img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/b_logo.png">
					<p>COPYRIGHT© 2016 JIUXIULVXING.COM 九休旅行版权所有</p>
					<p><a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备16022217号-1</a></p>
				</div>
			</div>
		</div>
	</div>
<!-- 尾部结束 -->
<script  type='text/temple' id='province-tpl'>
	    <option value="">--请选择--</option>
	    <# for(var j=0; j<province.length; j++) { #>
	            <option value="<#= province[j].id#>"><#= province[j].name#></option>
	    <# } #>
	</script>
	<script  type='text/temple' id='city-tpl'>
	    <option value="">--请选择--</option>
	    <# for(var j=0; j<city.length; j++) { #>
	            <option value="<#= city[j].id#>"><#= city[j].name#></option>
	    <# } #>
	</script>
	<script type="text/javascript" src="../../src/js/sea.js"></script>
	<script type="text/javascript" src="../../src/js/seajs-preload.js"></script>
	<script type="text/javascript" src="../../src/js/config.js"></script>		
	<script>seajs.use("merchantinfor");</script>	
</body>
</html>
