<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<link rel="shortcut icon" href="../../img/jiuxiu_favicon.ico" mce_href="../../img/jiuxiu_favicon.ico" type="image/x-icon" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>修改密码--成功</title>
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/base.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/common.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/jquery-ui-1.10.4.custom.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/eredar.css">
</head>
<body>
	<div class="header">
		<div class="comwidth content clearfix">
			<a class="fl block"><img src="../../img/logo.jpg"></a>
			<div class="fr user-block">
				<a class="user-block-link mr15 not-a">
					<span class="circle mr10"><img src="../../img/default_1.png"><i></i></span>
					<span>Hi：</span><span>13655545879</span>
				</a>
				<a class="ext">退出</a>
			</div>
		</div>
	</div>
	<!-- 面包屑 -->
	<div class = "comwidth crumbs f12">您所在的位置：账户管理><a class = "f12 gray6">修改密码</a></div>
	<div class = "comwidth clearfix" id = "eredar">
		<div class = "eredar-left">
			<dl class = "first">
				<dd>商品管理</dd>
				<dt class = "one">添加商品</dt>
				<dt>商品列表</dt>
			</dl>
			<dl>
				<dd>订单管理</dd>
				<dt class = "one">订单列表</dt>
			</dl>
			<dl>
				<dd>店铺管理</dd>
				<dt>基本信息</dt>
				<dt>账户信息</dt>
				<dt  class = "one on">修改密码</dt>
			</dl>
			<dl>
				<dd>对账管理</dd>
				<dt class = "one">月结账单</dt>
			</dl>
		</div>
		<div class = "eredar-right">
			<div class = "eredar-info clearfix">
				<ul>
					<li class = " first on">修改密码</li>
				</ul>
			</div>
			<div class = "eredar-list succesPass">
				<p><img src = "../../img/succPass.png"></p>
				<p class = "f18 gray6 succID">密码修改成功</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-wrap">
			<div class="footer-inner">
				<ul class="footer-about">
					<li><a target="_blank" href="javascript:;">关于九休</a></li>
					<li><a target="_blank" href="javascript:;">联系我们</a></li>
					<li><a target="_blank" href="javascript:;">投诉建议</a></li>
					<li class="footer-aboutcons">招商咨询</li>
					<li class="footer-constele">4000-696-888   /  9:00~22:00，周一到周日</li>
				</ul>
			</div>
		</div>
		<div class="footer-wrap-black">
			<div class="footer-inner2">
				<p class="foot-copyright">Copyright © 2014-2016 yimayholiday.com 怡美假日 版权所有<br/>
					<a class="jing-addressID" target="_blank" href="javascript:;">京ICP备15051416号-1</a>
				</p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../src/js/sea.js"></script>
	<script type="text/javascript" src="../../src/js/seajs-preload.js"></script>
	<script type="text/javascript" src="../../src/js/config.js"></script>		
	<script>seajs.use("passwordSucc");</script>
</body>
</html>