<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<link rel="shortcut icon" href="../../img/jiuxiu_favicon.ico" mce_href="../../img/jiuxiu_favicon.ico" type="image/x-icon" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>店铺管理--优惠券管理</title>
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/base.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/common.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/jquery-ui-1.10.4.custom.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/eredar.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/conpon.css">
</head>
<body>
	<!-- 头部开始 -->
<div id = "jiuxColor" class = "jiuw1">
	<div class="jiux-header wjiuxiu jiuw1 clearfix">
		<!-- 头部左侧部分 -->
		<div class="header-l fl clearfix">
			<a href="http://s0.test.jiuxiulvxing.com/guanwang/view/officialweb/indexJX.html" class="fl">
				<div class="logo">九休旅行</div>
			</a>
			<ul class="clearfix fl">
				<li class="fl active"><a href="http://s0.test.jiuxiulvxing.com/guanwang/view/officialweb/indexJX.html">首页</a></li>
				<li class="fl"><a href="http://s0.test.jiuxiulvxing.com/guanwang/view/officialweb/recruitment.html">九休商务</a></li>
				<li class="fl"><a href="#">商家中心</a></li>
				<li class="fl"><a href="#">九休旅行App</a></li>
			</ul>
		</div>
		<!-- 头部右侧部分 -->
		<div class="header-r fr clearfix">
			<div class="tel">
				<ul>
					<!-- <li class="fl" id="loginBox"><img src="../../img/touxiang.png" alt=""/><span id="userName">登陆</span></li>
					<li class="fl staticW"><a href="http://selleradmin.test.jiuxiulvxing.com/sellerAdmin/user/login">退出</a></li> -->
					<li class="fl staticW m-r"><a href="http://selleradmin.test.jiuxiulvxing.com/sellerAdmin/user/login">登录</a><span class="cuttingline"></span></li>
					<li class="fl staticW m-r"><a href="http://selleradmin.test.jiuxiulvxing.com/sellerAdmin/user/register">注册</a></li>

				</ul>
			</div>
		</div>
	</div>
</div>
<!-- 头部完成 -->
	<!-- 面包屑 -->
	<div class = "comwidth crumbs f12">您所在的位置：店铺评论><a class = "f12 gray6">优惠券管理</a></div>
	<div class = "comwidth clearfix" id = "eredar">
		<div class = "eredar-left">
			<dl class = "first">
				<dd>商品管理</dd>
				<dt class = "one">添加商品</dt>
				<dt>商品列表</dt>
			</dl>
			<dl>
				<dd>订单管理</dd>
				<dt class = "one">订单列表</dt>
			</dl>
			<dl>
				<dd>店铺管理</dd>
				<dt class = "one on">基本信息</dt>
				<dt>账户信息</dt>
			</dl>
			<dl>
				<dd>对账管理</dd>
				<dt class = "one">月结账单</dt>
			</dl>
		</div>
		<div class = "eredar-right">
			<div class = "eredar-info clearfix">
				<ul>

					<li class = " first on">优惠券管理</li>

					<!-- <li>账户信息</li> -->
				</ul>
			</div>
			<div class = "coupon reW clearfix">
				<p class = "add-tit"><font>添加满减券</font></p>
			</div>
			<div class = "coupon-list">
				<form class = "addcouponForm" action = "">
					<p>
						<em><s>*</s>优惠券名称：</em>
						<span><input type = "text" maxlength = "10" datatype = "*" class = "coupon-input" name = "couponName"/></span>
					</p>
					<p>
						<em><s>*</s>满减金额：</em>
						<span class = "tip"><strong>满</strong><input type = "text" id = "starnum" class = "coupon-num dis" name = "starnum" value = ""></input>
							<strong class = "dis">减</strong><input type = "text" id = "emdnum" class = "coupon-num dis" name = "emdnum"/>
							<strong class = "dis">元</strong>
						</span>
					</p>
					<p>
						<em><s>*</s>投放时间：</em>
						<span>
							<input id="putstartime" class = "field coupon-input"  name="putstartime" title="开始时间"  readonly="readonly">
							<font class = "dis">至</font>
							<input id="putendtime" class = "field coupon-input dis" name="putendtime" title="结束时间" readonly="readonly">
						</span>
					</p>
					<p>
						<em><s>*</s>使用时间：</em>
						<span>
							<input id="getstartime" class = "field coupon-input" name="getstartime" title="开始时间"   readonly="readonly">
							<font class = "dis">至</font>
							<input id="getendtime" class = "field coupon-input dis" name="getendtime" title="结束时间" readonly="readonly">
						</span>
					</p>
					<p>
						<em><s>*</s>领券限制：</em>
						<span>
							<strong>活动期间单人限领</strong><input id = "fill" type = "text" class = "coupon-num dis2" name = "getname"/>
							<strong class = "dis">张</strong>
							<a class = "dis2">最大限领10张</a>
						</span>
					</p>
					<p>
						<em><s>*</s>发券数量：</em>
						<span>
							<!-- <input type = "text" id = "part" datatype= "n" errormsg = "请填写不小于1的数字"class = "coupon-num" name = "sendname"/><strong class = "dis">份</strong> -->
							<input type = "text" id = "part" class = "coupon-num" name = "sendname"/><strong class = "dis">份</strong>
							<a class = "dis2">发券数量不能小于1</a>
						</span>
					</p> 
					<p><a type = "button" class = "savebtn">保存</a></p>
				</form>
				<input type="hidden" id="add"  value="$!root_path/jiuxiu/voucher/add">
			</div>
		</div>
	</div>
	<!-- 尾部开始 -->
<div class="jiux-footer jiuw1" id = "footID">
    <div class="footer-top">
        <div class="footID jiuw1 clearfix">
            <ul class="fl">
                <li><a href="http://s0.test.jiuxiulvxing.com/guanwang/view/officialweb/about.html">关于九休</a></li>
                <li><a href="http://s0.test.jiuxiulvxing.com/guanwang/view/officialweb/contactus.html">联系我们</a></li>
                <li><a href="http://s0.test.jiuxiulvxing.com/guanwang/view/officialweb/feedback.html">意见反馈</a></li>
                <li>招商咨询&nbsp;&nbsp;4000-696-888/9:00~22:00，周一到周日</li>
            </ul>
			<div class="fr">
				<a class="wb"></a>
				<a class="wx"><i></i></a>
				<a class="qq"></a>
			</div>
        </div>
    </div>
    <div class="footer-bom">
        <div class="footID jiuw1">
            <img src="../../img/b_logo.png">
             <p>COPYRIGHT&copy; 2016 JIUXIULVXING.COM 九休旅行版权所有</p>
            <p><a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备15051416号-1</a></p>
        </div>
    </div>
</div>
<!-- 尾部结束 -->
	<script type="text/javascript" src="../../src/js/sea.js"></script>
	<script type="text/javascript" src="../../src/js/seajs-preload.js"></script>
	<script type="text/javascript" src="../../src/js/config.js"></script>		
	<script>seajs.use("coupon");</script>	
</body>
</html>