/* 公用 */
.inputxt{width: 488px;}
.ml40{margin-left: 40px;}
.mt40{margin-top: 40px;}
.mb40{margin-bottom: 40px;}
.posr{position:relative;}
.btn{border:none;cursor:pointer; display: inline-block; padding:0 30px; line-height: 36px;}
.btn-orange{color: #fff; background: #ed6c44; padding:0 15px;}
.btn-orange:hover{background: #d7623e;}
.btn-outline{background: #fff; border: 1px solid #ddd;}
.btn-outline:hover{border: 1px solid #cbcbcb;}
.btn-outline-orange{background: #fff; border: 1px solid #ed6c44; color:#ed6c44;}
.btn-outline-orange:hover{border: 1px solid #ed6c44;}
.btn-success{padding:0 20px; border:1px solid #ccc; color: #fff;text-shadow: 0 -1px 0 rgba(0,0,0,.2); background-color: #40c148;border-color: #29822e;}
.btn-success:hover{color: #fff; background-color: #2e9134; border-color: #236e27; -webkit-box-shadow: 0 2px 1px rgba(0,0,0,.1); box-shadow: 0 2px 1px rgba(0,0,0,.1)}
.btn-success[disabled]{background-color: #cdcdcd; border-color: #cdcdcd}
.btn-info{color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.2); background-color: #03b8cf;}
#eredar .eredar-right{width: 970px; background-color: #fff; float: right; margin-bottom: 20px;}
#eredar .eredar-info{width: 892px; margin: 40px 0 15px 40px; border-bottom: solid 1px #e5e5e5;}
#eredar .eredar-info ul li{float: left; font-size: 18px; line-height: 18px; color: #999; margin-left: 20px; margin-bottom: -1px; padding: 0 0 15px; cursor: pointer;}
#eredar .eredar-info .first{margin-left: 0px;}
#eredar .eredar-info .on{color: #ffaf00; border-bottom: solid 1px #ffaf00;}
#eredar .tab-content > .panel{display: none;}
#eredar .tab-content > .on{display: block;}
#eredar .tab-content .imgbox{margin-right:2px;}
/**********************************************选择酒店**********************************************/
/*商品管理-发布线路-基本信息*/
input.form-control{display:inline-block; width:70%;height: 32px; color:#999;}
select.form-control{display:inline-block; width:70%;}
.form-control.w300{width: 300px;}
.form-control.w200{width: 200px;}
.input-group .form-control{width: 100%;}
.input-group .input-group-addon{padding: 5px 10px;background-color:#f2f2f2;}
.baseInfo{padding: 10px;}
.baseInfo table td{padding:5px;}
.baseInfo .table td:first-child{width: 130px; padding: 8px 0 !important; text-align: right;}
.baseInfo .textarea-count{width:720px; height:80px; padding: 5px;}
.baseInfo .checkbox-inline{display: inline-block; margin-right:10px;}
.baseInfo .checkbox-inline .productTag{margin-right:5px;}
/* .baseInfoList{padding-bottom: 20px;}
.baseInfoList label{font-weight: normal;}
.baseInfoList .lineDetail{font-weight: bold;font-size: 16px;}
.baseInfoList table{width: 100%;}
.baseInfoList table tr{line-height: 30px; padding:5px;}
.baseInfoList table td:nth-child(1){width: 100px;}
.baseInfoList table .fileWrap{position: relative;}
.baseInfoList table .fileWrap .fileBtn{position: absolute;width: 80px;height: 32px;top: 50%;left: 0;margin-top: -16px;font-size: 25px;opacity: 0;filter: alpha(opacity=0);}
.baseInfoList table .img-circle{width: 100px;margin-left: 10px;}
.baseInfoApply .applyNote{font-weight: bold;font-size: 16px;}
.baseInfoApply table{width: 100%;border-collapse: collapse;border: 1px solid #d5d5d5;}
.baseInfoApply table th{text-align: center;border: 1px solid #d5d5d5;background: #dedede;line-height: 35px;}
.baseInfoApply table td{border: 1px solid #d5d5d5;padding: 10px !important;text-align: center;} */
/*商品管理-发布线路-图文介绍*/
#editers{border:none !important; border-radius: 0 !important;}
#editers .editer-tip dt{background: #f0f0f0; font-weight: normal; line-height: 32px; padding-left: 10px; font-size: 16px;}
#editers .editer-tip dd{display:block; width:920px; padding:15px 5px;margin-bottom:5px; border: 1px solid #f0f0f0; border-radius: 0; color: #999; font-size: 14px;}
#editers .bd{margin-top:50px; position:relative;}
#editers .tbd{display:block; padding:10px; border: 1px solid #f0f0f0; text-align: center;}
#editers .imgwrap .tbd{background:#fbfbfb;}
#editers .tbd textarea{border:none !important; width:900px; height:175px;}
#editers .savetxt,#editers .closetxt,#editers .saveimg,#editers .closeimg{float:right; margin-top:10px; margin-bottom: 20px; padding:5px 20px; border:1px solid #ed6c44; color:#ed6c44;}
#editers .savetxt,#editers .saveimg{margin-right:15px;}
#editers .uploadbtn{display:inline-block; vertical-align: middle; color:#ed6c44;}
#editers .uploadbtn input{position:absolute; right:0; top:0; font-size:100px;opacity:0; filter:alpha(opacity=0);cursor: pointer;}
#editers .hd li{display: inline-block;}
#editers .addtext,#editers .addpic{border:1px solid #ed6c44; color:#ed6c44; padding:5px 20px; margin-right:15px;}
/* #editers .bd p.txtinput{border:1px solid #ddd;} */
#editers .bd p.text{padding:10px;border:1px solid #fff;cursor:pointer;word-wrap: break-word;word-break: break-all;}
#editers .bd p.text:hover,
#editers .bd p.pic:hover{border:1px dashed #FFC926;}
#editers .bd p ul.menu{position:absolute;height:35px;line-height:35px;right:0;top:-35px;width:240px;}
#editers .bd p ul.menu li{float:left;margin-left:19px;cursor:pointer;}
#editers .bd p ul.menu em{display:inline-block;width:16px;height:16px;margin-right:5px;background:url(../../../img/icon.png) no-repeat;overflow:hidden;position:relative;top:3px;}
#editers .bd p ul.menu em.icon-up{background-position:-316px -442px;}
#editers .bd p ul.menu em.icon-down{background-position:-352px -442px;}
#editers .bd p ul.menu em.icon-del{background-position:-388px -370px;}
/*商品管理-发布线路-行程信息*/
.tripInfo{padding: 10px;position: relative;}
.tripInfo .tripInfoNav{float:left; border-top:2px solid #ffaf00; width: 150px;height: 533px;background: #f9f9f9;overflow: auto;text-align: center;padding:20px 10px;z-index: 100;}
.tripInfo .tripInfoNav li{float: none;position: relative;}
.tripInfo .tripInfoNav li .icon-trash{position: absolute;right: 5px;top: 7px; width:10px; height:10px; cursor: pointer; background: url('../../img/icon-close.png') no-repeat;}
.tripInfo .tripInfoNav .day_tab{margin-bottom: 15px;}
.tripInfo .tripInfoNav .day_tab.active a{background: #EBE8E8;}
.tripInfo .tripInfoNav .day_tab a{display:inline-block; width:100%; line-height:34px; background: #fff; border:1px solid #ddd;}
.tripInfo .tripInfoNav .day_tab a:hover{background: #EBE8E8;}
.tripInfo .tripInfoNav .day_btn{margin-top: 15px;}
.tripInfo .tab-content{float:left; width: 724px; margin-left: 20px;overflow:hidden;}
.tripInfo .travelPanel i{margin-top: 5px;font-size: 20px;margin-right: 5px;}
.tripInfo .travelPanelDe{line-height: 30px;}
.tripInfo .panel-heading{background: #f0f0f0; font-weight: normal; line-height: 32px; padding-left: 10px; font-size: 16px;}
.tripInfo .panel-body{margin-bottom:20px;}
.tripInfo .panel-body .trip-title-text,.tripInfo .panel-body .trip-description-textarea{display:block; width:712px; height: 34px; padding:5px;margin-bottom:5px; border: 1px solid #f0f0f0; border-radius: 0; color: #999; font-size: 14px;}
.tripInfo .panel-body .trip-description-textarea{height:100px;}
/*商品管理-发布线路-价格信息*/
.priceInfo .tc-main .nav-tabs{border-bottom: none;}
.priceInfo .tc-main .navCombo{background: #DCD9D9;}
.priceInfo .tc-main .navCombo li{position: relative;}
.priceInfo .tc-main .navCombo li.active a{background: #F7F6F6;}
.priceInfo .tc-main .navCombo li .icon-remove{position: absolute;top: 10px;right: 10px;color: #666;}
.priceInfo .tc-main .tabCombo>.active{padding: 10px;border: 1px solid #d5d5d5;background: #F7F6F6;}
.priceInfo .tc-main .tabCombo table{border: none;border-color: transparent;border-collapse: separate;}
.priceInfo .tc-main .tabCombo table td{border: none;border-color: transparent;padding: 5px !important;}
.priceInfo .tc-main .tabCombo table .input-group-addon{padding: 5px;}
.priceInfo .tc-main .tabCombo table .input-group.block{margin-bottom: 2px;}
.priceInfo .tc-main .tabCombo table .batch-insert{margin: 3px 20px;}
.priceInfo .tc-main .tabCombo table .pBot{margin-bottom: 5px;}
/*保存*/
.groupTravelBot{text-align: center;margin: 20px auto;}
.groupTravelBot .btn{width: 150px;}
/* 价格信息 */
.price-info{padding-left:0;}
.price-info input,.package-name input{line-height: 30px;}
.price-info .label{display: inline-block; width: 100px; text-align: right; background:none; font-weight: normal; color:#333;}
.price-info .tc-tab-content{display:none;}
.price-info .icon-close{position: absolute; right: 5px; top: 5px; width: 10px; height: 10px; background: url('../../img/icon-close.png') no-repeat;}
.price-info .package-name{display: none;}
.price-info .active{background:#f0f0f0;}
/* 上传 */
.uploadbox{padding:20px;border:1px solid #ddd;}
.uploadbox .imgbox{width:124px;height:162px;float:left;margin-right:15px;overflow:hidden;padding:5px;}
.uploadbox .imgbox .imgbox{padding:0; margin-bottom:10px;}
.uploadbox .imgbox .dimg{width:118px;height:120px;overflow:hidden;margin-bottom:10px;border:1px solid #eee;}
.uploadbox .imgbox img{width:118px;height:120px;margin-bottom:10px;border:none;}
.uploadbox .upimgbtn{width:120px;height:30px;position:relative;}
.uploadbox .upimgbtn .upl{position:absolute;top: -3px; display:block; width:120px;height:30px;line-height: 30px;cursor: pointer; text-align: center;font-size:14px; z-index:999;background:#ed6c44;color:#fff;border:none;outline:none;text-decoration: none;}
.uploadbox .upimgbtn .del{position:absolute;top: -3px; left: 0; margin: 0; font-size:14px; width:120px;height:30px;background:#E26C26;color:#fff;border:none;outline:none;}
.uploadbox .picfile{position:absolute; right:0; top:0; font-size:100px; opacity:0; filter:alpha(opacity=0);cursor: pointer;}
.uploadbox .upl-tips{clear: both;padding: 15px 0 0 10px;}
/*------预定须知--------*/
.need-know-item{margin-top:20px;}
.need-know-item dt{background: #f0f0f0; font-weight: normal; line-height: 32px; padding-left: 10px; font-size: 16px;}
.need-know-item .need-know-item-value{display:block; width:920px; padding:5px;margin-bottom:5px; border: 1px solid #f0f0f0; border-radius: 0; color: #999; font-size: 14px;}
.need-know-item .ic-example{float: right; margin:-17px 10px 0 0; cursor: pointer; color: #ed6c44; font-size: 14px;}

/**********************************************价格日历**********************************************/
.datepicker{padding-left: 30px; padding-right: 20px; padding-bottom: 5px;}
.datepicker table{width: 658px;}
.datepicker table td{border: 1px solid #ddd; width: 92px; height: 88px;}
.datepicker table td div.dtbx{width: 92px; height: 88px; text-align: center; position: relative;}
.datepicker table td div.dtbx font{font-weight: bold; display: inline-block; right: 10px; top: 20px; position: absolute;}
.datepicker table td div.dtbx .tipvl{position: absolute; left: 8px; text-align: left; padding-top: 0; padding-right: 4px;}
.datepicker table td div.dtbx .tipvl label{font-size: 12px !important; line-height: 12px !important;}
.datepicker .tdyears{text-align: center; padding: 0; height: 40px; border-top: 3px solid #ffaf00; padding: 0 20px; width: 648px;}
.datepicker .tdyears .prev{background: url('../../img/date-left.jpg') no-repeat;}
.datepicker .tdyears .next{background: url('../../img/date-right.jpg') no-repeat;}
.datepicker .tdyears .prev,
.datepicker .tdyears .next{display: block; width: 13px; height: 13px; margin-top: 3px; cursor: pointer;}
.datepicker .tdmonth{padding: 0; text-align: center; height: 38px; background: #f9f9f9;}
.datepicker .tdmonth ul{font-size: 0; width: 656px;}
.datepicker .tdmonth li{display: inline-block; *display: inline; *zoom: 1; height: 16px; width: 35px; text-align: center; cursor: pointer; margin: 0 8px;}
.datepicker .tdmonth li.on{color: #ffaf00;}
.datepicker .tdweek td{text-align: center; padding: 0; height: 48px;}
.datepicker .setvalue{width: 234px; border-top: 3px solid #ffaf00; padding-bottom: 30px; background: #f9f9f9;}
.datepicker .setvalue h2{height: 40px; border-bottom: 1px solid #ddd; background: #fff9ec; color: #ffaf00; font-size: 16px; line-height: 40px; padding-left: 15px;}
.datepicker .setvalue dt{background: #f0f0f0; line-height: 35px; padding-left: 20px;}
.datepicker .setvalue dd{padding-left: 5px;}
.datepicker .setvalue div{padding-top: 20px;}
.datepicker .setvalue .btn{padding: 0;}
.datepicker .setvalue .btn a{display: inline-block; text-align: center; width: 98px; height: 28px; line-height: 28px; border: 1px solid #ed6c44; color: #ed6c44; background: #fff; margin: 0 5px;}
.datepicker .nullgray{background: #f9f9f9; cursor: initial !important;}
.day .in-range{background: #fff; cursor: pointer;}
.day font,
.day label{color: #666;}
.day .today font{color: #ffaf00;}
.day .out-range{background: #f5f5f5; cursor: not-allowed;}
.day .choiced{background: #ed6c44;}
.day .choiced font,
.day .choiced label{color: #fff;}
