/***************************入驻审核流程***************************/
.ag-content{padding-left:72px;padding-right:72px;padding-bottom:27px;border-bottom:1px solid #ddd;margin-left:auto;margin-right:auto;width:996px;}
.agreement-box{border:1px solid #ddd;background: #fff;overflow: hidden;margin-bottom:30px;min-height:600px;}
.agreement-box .tit{height:44px;line-height: 40px;padding-left:30px;background: #f7f7f7;border-top:1px solid #ddd;color:#222;}
.agreement-box .titbox{width:1140px;margin:auto;padding-bottom:1px;}
.agreement-box h2{margin:auto;text-align: center;font-size:20px;color:#333;padding:23px;}
.agreement-box h3{font-size:16px;color:#000;;line-height: 24px;margin: 15px 0 10px;}
.agreement-box p{font-size:14px;color:#666;line-height: 30px;}
.agreement-box .progress{width:845px;margin:45px auto;}
.agreement-box .progress .step{float:left;height:8px;width:169px;background: #dfdfdf;position: relative;}
.agreement-box .progress .step div{position:absolute;left: 63px;top:-15px; line-height: 36px;font-size:20px; text-align: center;color:#fff;
	width:37px;height:37px;background: url('../../img/spripte.png') no-repeat 0 0;}
.agreement-box .progress .step label{display: block;text-align: center;margin-top:28px;color: #999999;}
.agreement-box .progress .step-on{background: #ed6c44;}
.agreement-box .progress .step-on div{background: url('../../img/spripte.png') no-repeat -37px 0;}
.agreement-box .progress .step-on label{display: block;color:#ed6c44;}
.agreement-box .progress .step-fl{border-top-left-radius: 6px;border-bottom-left-radius: 6px;}
.agreement-box .progress .ya{border-top-right-radius: 6px;border-bottom-right-radius: 6px;}

/***************************九休开放平台旅行社管理规定***************************/
.line-bottom{width:1140px;height:1px;border-top:1px solid #dddddd;margin:38px auto 0;}
.lig{margin:0 auto;}
.settled{margin:30px 0 30px;text-align: center;}
.settled a{width:200px;height:36px;background:#ed6c44;text-align: center;line-height: 36px;margin:0 auto;display: inline-block;font-size:16px;color:#fff;margin-left: 20px;}

/*table{border: 1px solid #ddd;width:1050px;height:500px;text-align: center;margin:20px 0;}
table tbody{text-align: left;}
table tr{border: 1px solid #ddd;}
table tr td{border: 1px solid #ddd;padding:0 10px;}*/
.big-title{font-size: 20px;text-align: center;padding-top: 28px;}
.rule-content{padding:25px 70px 38px;}
.pt_zz span a{color:#ed6c44;}
.pt_zz span a:hover{text-decoration:underline;}


/***************************续签协议***************************/
.eredar-right{width:970px;background: #fff;float:right;}
.eredar-right h3{padding: 0 30px;background: #f7f7f7;height:42px;line-height: 42px;font-size:18px;margin-bottom:15px;}
.eredar-right .agreement-p{padding: 0 30px;line-height: 22px;}
.eredar-right .adress{padding: 20px 30px;line-height: 30px;}
.eredar-right .agremt{text-align: center;margin-bottom:100px;margin-top:30px;}
.eredar-right .agremt-name{width:970px;background: #fff;}
.eredar-right .agremt-btn{width:160px;height:36px;line-height: 36px;text-align: center;margin:auto; background: #ed6c44;display: block; color:#fff;margin-top:20px;margin-bottom:10px;}
.eredar-right .agremt-view{color:#ed6c44;}
.eredar-right .step-container{background:url(../../img/agreement.png) no-repeat left center;height: 145px;border-bottom: 1px solid #e1e1e1;}



#eredar .eredar-right .eredar-info ul li.expire{
    float: right;
}

#eredar .eredar-right .eredar-info ul li.expire.over span{
    color:#ff0000;
}

#eredar .eredar-right .eredar-info ul li.expire .btn-renew{
    border:1px solid #ccc;
    padding:5px;
    border-radius: 5px;
}