/* #eredar .eredar-left dl dt a{color:RGB(83,83,83);} */
/*右侧达人信息*/
#eredar .eredar-right{width: 970px;background-color: #fff;float: right;}
#eredar .eredar-right .eredar-info{width:892px;margin: 40px 0 15px 40px;border-bottom:solid 1px #e5e5e5;}
#eredar .eredar-right .eredar-info ul li{float:left; cursor: pointer; font-size: 20px;color: #999;margin-left: 40px;padding: 0 0 15px;}
#eredar .eredar-right .eredar-info ul li.first{margin-left: 0px;}
#eredar .eredar-right .eredar-info ul li.on{color: #ffaf00;border-bottom: solid 1px #ffaf00;}
#eredar .eredar-right .eredar-list1{padding: 10px 0 0 60px;}
.eredar-list1 table{position: relative;z-index: 1}
.eredar-list1 table tr td{padding-top:15px;}
.eredar-list1 table tr td input.field{width:200px;height: 32px;line-height: 32px;border:1px solid #ddd;padding:0 5px;}
.eredar-list1 table td.tbtxt{text-align: right;vertical-align: top;}
.eredar-list1 table td.w280{width:127px;}
.eredar-list1 table tr td .headID{width:100px;height: 100px;background-color:#f5f5f5;border:solid 1px #ccc;display: inline-block;position: relative;}
.eredar-list1 table tr td .headID img{width:64px;height: 70px;margin: 15px 18px;}
.eredar-list1 table tr td .headID  .picter{position: absolute;width:100px;height:21px;bottom: 0;right: 0;text-align: center;background-color: #000;z-index:2;color: #dedede;opacity:0.66;filter: alpha(opacity=66);*display: inline-block; *zoom: 1}
.eredar-list1 table tr td .headID  .upload{position: absolute;bottom: 0; opacity: 0;filter: alpha(opacity=0);cursor: pointer;}
.eredar-list1 table tr .spe label:first-child,#eredar .eredar-right .eredar-list1 p .radio input:first-child{margin-left: 0px;}
.eredar-list1 table tr .spe label{margin-left: 5px;cursor: pointer;}
.eredar-list1 table tr td .lab{color: #999;vertical-align: bottom;margin-left: 19px;vertical-align: middle;}
.eredar-list1 table tr td .lab .change{color: #999;}
.eredar-list1 table tr td  .spelab{margin-left: 0px;}
.eredar-list1 table tr .tbtxt{vertical-align: middle;}
.eredar-list1 table tr .abuteMe{vertical-align: top;}
.saveBtn{width:120px;height: 36px;background-color: #ed6c44;color: #fff;border-style: none;margin-left: 127px;margin-top: 30px;margin-bottom: 93px;}



/*找回密码*/
#password{border:solid 1px #d6d6d6;margin-top: 25px;}
#password .pass_con1{margin: 14px 27px;}
#password .pass_con2{background-color: #fff;}
#password .pass_con2 ul{margin-left: 412px;overflow: hidden;}
#password .pass_con2 ul li{margin-top:25px;line-height: 38px;zoom:1;}
#password .pass_con2 ul li input{width: 323px;height:38px;border:solid 1px #d6d6d6;padding: 0 0 0 45px;line-height: 38px;}
#password .pass_con2 ul li input.speW{width: 235px !important;}
#password .pass_con2 ul li .setpwd1{background: url("../../img/password.png") no-repeat 12px -2px;}
#password .pass_con2 ul li .setpwd2{background: url("../../img/password.png") no-repeat 6px -39px;}
#password .pass_con2 ul li .setpwd3{background: url("../../img/password.png") no-repeat 7px -72px;}
#password .pass_con2 ul li .setpwd4{background: url("../../img/password.png") no-repeat 6px -107px;}
#password .pass_con2 ul li .setpwd5{background: url("../../img/password.png") no-repeat 7px -140px;}
#password .pass_con2 ul li .getPassword{width:89px;height: 38px;border:solid 1px #ed6c44;color: #ed6c44;vertical-align: middle;display: inline-block;text-align: center;}
#password .pass_con2 .line{width:1140px;margin: 52px auto 0;border-bottom: solid 1px #ddd;}
#password .pass_con2 button{background-color: #ed6c44;width:270px;height: 36px;color: #fff;border-style: none;}
#password .pass_con2 button.submitBtn{margin:52px 460px;}
/*找回密码成功*/
#password .pass_con2 p{text-align: center;}
#password .pass_con2 p:first-child{padding-top: 75px;}
#password .pass_con2 .txt{padding: 15px;}
#password .pass_con2 p em{color: #ed6c44;}
#password .pass_con2 p .getBackBtn{width:120px !important;}
#password .pass_con2 .btn{padding-top:30px;}
#password .pass_con2 p.dis{padding-bottom: 325px;}
/*修改密码成功*/
.eredar-list1 table tr td .passinput{width:188px;height:34px;border:solid 1px #ccc;padding-left: 12px;}
.changePass table{margin-bottom: 200px;}
/*修改密码成功*/
.succesPass p:first-child{margin-top: 60px;}
.succesPass p{text-align: center;padding-top: 15px;}
.succesPass p.succID{margin-bottom: 300px}

#editer{width:724px;border:1px solid #ddd;padding:10px 20px;background:#fff;border-radius:5px;position: relative;}
#editer .hd{margin-bottom:10px;margin-top:20px;}
#editer .hd ul{float:right;}
#editer .hd ul li{float:left;height:24px;line-height:24px;border-radius:5px;padding:0 10px;border:1px solid #ddd;background:#fcfcfc;margin-left:10px;}
#editer .bd p{line-height:12px;position:relative;}
#editer .bd p.imgwrap{border:1px solid #ddd;text-align:left;margin:0 auto 20px;}
#editer .bd p.imgwrap span.tbd{min-height:240px;position:relative;display:block;background:#fbfbfb;}
#editer .bd p.imgwrap span.tbd img.nopic{position:absolute;left:50%;margin-left:-36px;top:50%;margin-top:-36px;}
#editer .bd p.imgwrap span.tft label.selectimg{height:27px;line-height:27px;float:left;}
#editer .bd p.imgwrap span.tft label.selectimg input{position:relative;top:0;vertical-align:top;}
#editer .bd p.imgwrap span.tft label.groupbtn{height:27px;line-height:27px;float:right;}
#editer .bd p.imgwrap span.tft label.groupbtn input{padding:0 10px;}

#editer .bd p.txtinput{border:1px solid #ddd;}
#editer .bd p.text{padding:10px;border:1px solid #fff;cursor:pointer;word-break: break-all;width: 707px;margin-top:26px;}
#editer .bd p.text:hover,
#editer .bd p.pic:hover{border:1px dashed #FFC926;}
#editer .bd p ul.menu{position:absolute;height:30px;line-height:30px;right:0;top:-30px;}
#editer .bd p ul.menu li{float:left;margin-left:19px;cursor:pointer;}
#editer .bd p ul.menu em{display:inline-block;width:16px;height:16px;margin-right:5px;background:url(../../img/icon.png) no-repeat;overflow:hidden;position:relative;top:3px;}
#editer .bd p ul.menu em.icon-up{background-position:-316px -442px;}
#editer .bd p ul.menu em.icon-down{background-position:-352px -442px;}
#editer .bd p ul.menu em.icon-del{background-position:-388px -370px;}

#editer .bd p.on{border:1px dashed #FFC926;}
#editer .bd p.pic{width:100%; position: relative;border:1px solid #fff;margin-top:26px;}
#editer .bd p.pic > img{max-width:100%;}
#editer .bd p.pic:hover .removePic{display: block;}
#editer .bd p.pic.on{border:1px dashed #FFC926;}
#editer .bd textarea{width:100%;height:200px;vertical-align:top;border:none;font-size:14px;font-family:"微软雅黑";resize:none;}
#editer .bd p span.tbd{display:block;padding:10px;}
#editer .bd p span.tft{display:block;background:#f2f2f2;padding:10px;border-top:1px solid #ddd;}
#editer .bd p span.tft em{float:left;color:#ff3c3c;}
#editer .bd p a{float:right;display:inline-block;padding:4px 20px;border:1px solid #ddd;background:#fdfdfd;margin-left:10px;border-radius:3px;}

table tr th{
	vertical-align: middle;
	text-align:center ;
}
table tr td{
	padding:2px;
}
table tr td.middle{
	vertical-align: middle;
	text-align:center ;
}
table tr td div.t-img{
	float:left;
	margin: 1px 8px 1px 0px;
}

table tr td button{
	margin: 3px;
}


.hd_wh{width:100px;height:100px;}
/*.table div {font-size: 12px;}*/
table tr td div.t-name{font-size: 14px;color:#333;padding-bottom: 10px;}
/*.t-userType,.t-date{color:#acacac;font-size: 12px;}*/

.fullCut{border:solid 1px #ddd;display: inline-block;font-size: 12px;width: 75px;text-align: center;}