<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="your keywords">
    <meta name="description" content="your description">
    <title>支付页面-九休后台</title>
    <link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/base.css">
    <link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/common.css">
    <link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/Test/PC_JX_20160906/src/css/account.css">
</head>

<body class="bodyWhite">
    <!-- 头部开始 -->
    <div class="clearfix actlg-header">
        <div class="logo">
            <a href="http://s0.yimayholiday.com/PC_B2C/index.html"><img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/loginlogo.jpg" /></a>
        </div>
        <ul class="clearfix">
            <li><a class="on" href="javascript:;">九休旅行APP</a></li>
            <li><a href="javascript:;">九休商务</a></li>
            <li><a href="javascript:;">商家中心</a></li>
        </ul>
        <div class="lgrg">
            <a href="javascript:;">登录</a>
            <a href="javascript:;">注册</a>
        </div>
    </div>
    <!-- 头部完成 -->
    <!-- 服务条款的中心部分开始 -->
    <div id="developing">

        <div class="location">
            <a>首页</a>
            <span class="divier">></span>
            <span>支付页面</span>
        </div>
        <div class="content">
        	<img src="http://s0.test.jiuxiulvxing.com/Test/PC_JX_20160906/img/weixing.png">
        	<div class="tip">网站未取得国家相关资质，暂不允许充值！</div>
        	<div class="button">
        		<a href="javascript:history.go(-1);">返回</a>
        	</div>
        </div>
    </div>
    <!-- 服务条款的中心部分结束 -->
    <div class="footerCorlor">
        <div class="footer serfooter">
            <div class="footer-wrap">
                <div class="footer-inner">
                    <ul class="footer-about">
                        <li><a target="_blank" href="javascript:;">关于九休</a></li>
                        <li><a target="_blank" href="javascript:;">联系我们</a></li>
                        <li><a target="_blank" href="javascript:;">投诉建议</a></li>
                        <li class="footer-aboutcons">招商咨询</li>
                        <li class="footer-constele">4000-696-888 / 9:00~22:00，周一到周日</li>
                    </ul>
                </div>
            </div>
            <div class="footer-wrap-black">
                <div class="footer-inner2">
                    <p class="foot-copyright">Copyright © 2014-2016 yimayholiday.com 怡美假日 版权所有
                        <br/>
                        <a class="jing-addressID" target="_blank" href="javascript:;">京ICP备15051416号-1</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
