<form action="../../data/login.json" method="post" id="loginForm">
	<h1 class="title">用户登录</h1>
	<input type="text" class="textinput" name="username" id="loginname" placeholder="请输入用户名" autocomplete="off"/>
	<input type="password" class="textinput" name="password" id="loginpwd" placeholder="请输入密码" autocomplete="off"/>
	<p class="first clearfix">
		<label><input type="checkbox" class="saveuser"/>记住用户名</label>
		<a href="" target="_blank">忘记密码？</a>
	</p>
	<input type="submit" id="loginSubmitBtn" class="winloginbtn" value="登录"/>
	<p class="last">还没有账号 <a href="">立即注册</a></p>
</form>