
#ym-login-banner{height:928px;min-width:1200px;position:relative;background:url("../../img/login-banner.jpg") no-repeat top center;}
#ym-login-banner.login{height:676px;}

#ym-login-banner .login-body{width:680px;background:#fafafa;border-radius:15px;position:absolute;left:50%;top:30px;margin-left:-340px;z-index:999;padding-bottom:40px;}
#ym-login-banner .login-body form{padding:0 140px;}
#ym-login-banner h1.title{font-size:26px;color:#333;text-align:center;margin:36px 0;}
#ym-login-banner input.textinput,
#ym-login-banner span.tips{width:336px;padding:12px 32px;border-radius:24px;font-size:16px;background:#fff;border:1px solid #e1e1e1;font-family:"微软雅黑"}
#ym-login-banner span.tips{display:block;color:#999;margin-bottom:14px;}
#ym-login-banner .winloginbtn{display:block;width:400px;height:48px;line-height:48px;background:#ffaf00;text-align:center;border-radius:24px;
	margin:14px auto;font-size:20px;color:#333;border:none;cursor:pointer;}
#ym-login-banner p.btngroup{display:block;margin-bottom:14px;position:relative;}
#ym-login-banner p.first{margin-bottom:30px;padding:0 2px;}
#ym-login-banner p.first > label{float:left;}
#ym-login-banner p.first > a{float:right;color:#ffaf00;text-decoration:underline;}
#ym-login-banner p.last{text-align:center;}
#ym-login-banner p.last > a{display:inline-block;margin-left:1em;color:#ffaf00;}

#ym-login-banner .register h1.title{margin-bottom:20px;}
#ym-login-banner .register h3{margin-bottom:25px;font-size:16px;text-align:center;}
#ym-login-banner .register p.btngroup > *{float:left;}
#ym-login-banner .register p.btngroup input.sortinput{width:162px;float:left;}
#ym-login-banner .register p.btngroup button.getcodebtn{width:152px;float:right;color:#333;background:#ffaf00;height:48px;line-height:48px;border:none;border-radius:24px;font-size:16px;text-align:center;cursor:pointer;}
#ym-login-banner .register p.btngroup button.disabled{background:#ccc;}
#ym-login-banner .register p.btngroup > img.imgcode{float:right;cursor:pointer;}

#ym-login-banner .findpwd h1.title{margin-bottom:50px;}

#ym-login-banner .regsuccess{text-align:center;padding:60px 0 85px;}
#ym-login-banner .regsuccess h1.title{width:220px;display:inline-block;font-size:30px;height:41px;line-height:41px;color:#fa461e;padding-left:60px;margin-bottom:36px;background:url("../../img/thank-icon.jpg") no-repeat;}
#ym-login-banner .regsuccess h2{font-size:20px;color:#333;margin-bottom:44px;}
#ym-login-banner .regsuccess p{padding:10px 0;color:#999;}

#ym-login-banner .Validform_checktip{display:none;margin-top:14px;}
#ym-login-banner .Validform_wrong{display:block;padding-left:24px;background:url("../../img/msg-icon.jpg") no-repeat 0 1px;font-size:14px;color:#ffaf00;}

* { font-family:"Microsoft YaHei","helvetica neue",arial,sans-serif;font-size: 14px;color:RGB(83,83,83);}
.actlg-header{width:1190px;margin:auto;height: 90px;overflow: hidden;}
.actlg-header .logo{float: left;margin-top:18px;}
.actlg-header ul{float: left;}
.actlg-header ul li{float: left;}
.actlg-header ul li a{display: block;width:142px;height: 45px;margin-left:100px;margin-top:24px;
	text-align: center;line-height: 45px;font-size:18px;color:#000;}
.actlg-header ul li a.on{background: url('../../img/lognbtn.jpg') no-repeat;}
.actlg-header .lgrg{float: right;}
.actlg-header .lgrg a{display: inline-block;margin-top:34px;font-size:18px;color:#666;border-right:1px solid #ddd;padding:0 20px;margin-right:-2px;}
.saveuser{margin-right:8px;}





/***************************服务协议样式规范***********************/

#servicenter{background: #f4f4f4;padding-top:24px;}
#servicenter .servicenterB{width:1188px;margin:0 auto;background: #fff;border: 1px solid #dddddd;}
#servicenter .servicenterB .title{padding:20px 0px;font-size: 20px;color: #222222;text-align: center;}
#servicenter .servicenterB .bottom-line{width:1110px;height:1px;border-bottom:1px solid #dddddd;margin: 0 auto;}
#servicenter .servicenterB .content{padding:28px 79px 130px 73px;}
#servicenter .servicenterB .content .fu-title{font-size: 16px;color:#000000; font-family: "Microsoft YaHei";padding:40px 0 10px 0;}
#servicenter .servicenterB .content p{font-size: 14px;color:#666666; font-family: "Microsoft YaHei";line-height: 27px;}