#eredar .eredar-right{width: 970px;background-color: #fff;float: right;}
#eredar .eredar-right .eredar-info{width:892px;margin: 40px 0 15px 40px;border-bottom:solid 1px #e5e5e5;}
#eredar .eredar-right .eredar-info ul li{float:left;font-size: 20px;line-height: 20px; color: #999;margin-left: 40px;
	margin-bottom:-1px;padding: 0 0 15px;cursor: pointer;}
#eredar .eredar-right .eredar-info ul li.first{margin-left: 0px;}
#eredar .eredar-right .eredar-info ul li.on{color: #ffaf00;border-bottom: solid 1px #ffaf00;}

input{outline: none;}
.hotelinfo{padding:23px 40px;}
.hotelinfo p{margin-bottom:16px;}
.hotelinfo button,.hotelinfo span,.hotelinfo label{display: inline-block;vertical-align: middle;height: 32px;}
.hotelinfo i{color:red;}
.hotelinfo .nm{width:95px;text-align: right;vertical-align: top;}
.hotelinfo .nm span{line-height: 38px;}
.hotelinfo .nm label{font-size:14px;color:#666;line-height: 32px;}
.hotelinfo button{width:88px;border:1px solid #ed6c44;background: #fff;color:#ed6c44;line-height: 30px;}
.hotelinfo .info-bar{width:598px;border:1px solid #ccc;margin:0 10px;}
.hotelinfo .info-bar label{line-height: 32px;color:#333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.hotelinfo .info-bar .htn{width:137px;line-height: 32px;border-right:1px solid #ccc;text-align: center;color:#ed6c44;background: #eee;}
.hotelinfo .info-bar .smtt{width:50px;text-align: center;}
.hotelinfo .info-bar .address{width:228px;}
.hotelinfo .info-bar .tel{width:118px;}

.hotelinfo .info-box{width:568px;border:1px solid #ccc;padding:0 15px;margin:0 10px;display: inline-block;height: auto;}
.hotelinfo .info-box .radio-bar{height: 47px;border-bottom:1px solid #ccc;padding:0 10px;cursor: pointer;}
.hotelinfo .info-box .radio-bar label{line-height: 47px;}
.hotelinfo .info-box .radio-bar img{margin-top:18px;}
.hotelinfo .info-box .bar-box {
	height: 0;
	overflow: hidden;
	transition: height 1s;
	-moz-transition: height 1s;
	-webkit-transition: height 1s;
	-o-transition: height 1s;}
.hotelinfo .info-box .bar-box ul{padding-top:10px;}
.hotelinfo .info-box .bar-box li{float: left;width:148px;padding-left:40px;}
.hotelinfo .info-box .bar-box .img-group{width:590px;}
.hotelinfo .info-box .bar-box .img-group img{margin-right:15px;}







