
body{background: #f4f4f4;}
.bodyWhite{background-color: #fff !important;}
.comwidth{width:1190px;margin-left:auto;margin-right:auto;}
select{padding:5px 0; border:1px solid #ddd;min-width:90px;}
input[type=text]{border:1px solid #ddd;padding:0 5px;outline: none;}
input[type=checkbox],input[type=radio]{width:14px;height:14px;}
textarea{border:1px solid #ddd;}

/***************************圆图像（兼容IE6、IE7、IE8）***********************/
.circle{display: inline-block;position:relative;overflow: hidden;}
.circle i{display: block;position:absolute;left:0;top:0; z-index: 2;}
.circle img{position:absolute;left:0;top:0; z-index: 1;}

/***************************上传图片***********************/
.imgbox{display:inline-block;width:120px;height:90px;position:relative;overflow:hidden;}
.imgbox .canclick{width:118px;height:88px;position:absolute;left:0;top:0;z-index:5;overflow:hidden;margin-bottom:10px;
  border:1px solid #ccc;background: #f6f6f6 url('../../img/merchant-head.png') no-repeat 10px -10px;}
.imgbox .card_a{background: #f6f6f6 url('../../img/card_a.jpg') no-repeat;}
.imgbox .card_b{background: #f6f6f6 url('../../img/card_b.jpg') no-repeat;}
.imgbox .canclick img{width:120px;height:90px;border:none;}
.imgbox .del{width:100%;height:20px;text-align: center;color:#fff; background-color:#000; opacity:.6;filter:alpha(opacity=60);
position: absolute;bottom:-20px;z-index: 6;font-size:12px;line-height: 18px;cursor: pointer;
-webkit-transition: all .6s;
-moz-transition: all .6s;
-ms-transition: all .6s;
-o-transition: all .6s;
transition: all .6s;}
.imgbox-action:hover .del{bottom:0;} 
.imgbox .upldclik{display:inline-block; width:120px; height:90px;position:absolute;left:0;top:0;z-index:9;cursor: pointer;overflow: hidden;}
.imgbox .upldclik:hover{background:#999;opacity:.1; filter:alpha(opacity=10);}
.imgbox .plhd{width:118px;height:88px;position:absolute;left:0;top:0;z-index:0;border:1px solid #ccc;}
.imgbox .plhd-action{background-color: #fff; background-image: url('../../img/loadimg.gif');
background-size: 30%; background-repeat: no-repeat;background-position: center;z-index:7;}
/*.imgbox .plhd input{display:block; width:120px;height:30px;position:absolute;top:-1000px;left:-100px; z-index:0;}*/
.adpicfile{position:absolute; right:0; top:0; font-size:100px; opacity:0; filter:alpha(opacity=0);cursor: pointer;}

/***************************公共头部***********************/
/*.header{background: #fff;height:72px;}
.header .content{padding-top:12px;} 
.user-block a{display: inline-block;color:#666;}
.user-block span{color:#666;}
.user-block-link .circle,.user-block-link .circle img,.user-block-link .circle i{width:50px;height:50px;}
.user-block-link .circle i{background: url('../../img/user-head.png') no-repeat center;}
*/
/***************************公共底部***********************/
/*#footID{margin-top: -20px;}
.footer{color:#fffcfb;font-size: 16px;padding-top: 20px;min-width: 1190px;}
.footer-wrap{background: #23272a;width:100%;}
.footer .footer-inner{margin: 0 auto;width: 1190px;padding: 49px 0 49px;}
.footer .footer-about{overflow: hidden;}
.footer .footer-about li{float: left !important;font-size: 16px;font-weight: bold;padding-left: 123px;}
.footer .footer-about li a{color:#aaa9a9;font-size: 16px;}
.footer .footer-about .footer-aboutcons{color:#636465;}
.footer .footer-about .footer-constele{font-size: 14px;color:#636465;font-weight: normal;padding-left: 15px;}
.footer .footer-wrap-black{background: #1e2124;width:100%;}
.footer .footer-inner2{margin: 0 auto; width: 1190px;  padding: 25px 0;}
.footer .footer-inner2 p{text-align: center;}
.footer .footer-inner2 p a{padding-top: 10px;display: block;color: RGB(83,83,83);}
.footerCorlor{background: #f4f4f4;}
.serfooter{padding-top: 24px;}*/
/***************************时间盒子***********************/
.datebox{width:120px;height:32px;line-height: 32px;border:1px solid #ddd;border-radius:2px;padding:0 5px;cursor: pointer;z-index:9;position:relative;
  background: #fff url('../../img/date-icon.jpg') no-repeat 102px center;}

/***************************弹出框***********************/
.dialog{position: fixed;width:100%;height:1000px;z-index: 999;left:0;top:0;display: none;}
.dialog .bgmeng{background-color:#000; opacity:.5;filter:alpha(opacity=50);width:100%;position: absolute;z-index: 999;}
.dialog .msg{width:200px;box-shadow: 8px 8px 20px #666;position: absolute;top:45%;left:50%;text-align: center;
  margin-top:-25px;margin-left:-120px;z-index: 9999;background: #fff;padding:10px 20px;border-radius:6px;}
.dialog .content-box{width:200px;box-shadow: 8px 8px 20px #666;position: absolute;top:50%;left:50%;text-align: center;
  margin-top:-25px;margin-left:-120px;z-index: 9999;background: #fff;padding:10px 20px;border:2px solid #ccc;}
.dialog .content-box .close-tip{text-align: right;}
.dialog .content-box .close-tip i{float: right; display: block;width:30px;height:30px;background:url('../../img/close.png') no-repeat center;cursor: pointer;
  transition:all .6s;
  -webkit-transition:all .6s;
  -moz-transition:all .6s;
  -o-transition:all .6s;
  -ms-transition:all .6s;}
.dialog .content-box .container{padding:10px;position: relative;}
.dialog .content-box .close-tip i:hover{transform: rotate(180deg);}
.dialog .content-box .close-tip div{border-bottom:1px solid #ddd;text-align: left;}
.dialog .content-box .close-tip h2{margin-bottom:-1px;width:82px;text-align:center;color:#ffaf00;font-size:20px;
  border-bottom:1px solid #ffaf00;padding-bottom:5px;line-height: 30px;}
.dialog .content-box .btn-group{width:100%;position:absolute;bottom:0;text-align:right;margin-left:-20px;text-align: center;}
.dialog .content-box .btn-group div{margin:0 20px;border-top:1px solid #ccc;}
.dialog .content-box .btn-group button{margin:20px 0;width:160px;height:36px;line-height:36px;border:none;outline:none;
  background: #ed6c44;color:#fff;font-size:16px;}
.dialog .content-box .btn-group button.ok{margin-right:20px;}
.dialog .loading{width:160px;box-shadow: 8px 8px 20px #666;position: absolute;top:45%;left:50%;
  margin-top:-25px;margin-left:-80px;z-index: 9999;background: #fff;padding:10px 0;border-radius:6px;}
.dialog .loading img{margin:0 16px;width:24px;height:24px;}
.dialog .loading label{color:#666;}

/***************************自定义下拉框***********************/
  .select-wrapper{
    font: normal 14px '\5FAE\8F6F\96C5\9ED1';
    width: 240px;
    height: 34px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    *float: left;
    *margin-right: 10px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
  }
  .select-wrapper.focus{
    border: 1px solid #ed6c44;
  }
  .select-button{
    font: normal 14px '\5FAE\8F6F\96C5\9ED1';
    width: 238px;
    height: 34px;
    border: 0;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    padding: 0 26px 0 10px;
    overflow: hidden;
    text-align: left;
    outline: none;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    display: inline-block;
  }
  .select-down{
    position: absolute;
    top: 21px;
    right: 12px;
    height:0;
    width:0;
    overflow: hidden;
    font-size: 0;
    border-color: #333 transparent transparent transparent;
    border-style: solid;
    border-width: 6px;
  }  
  .disabled{
    color: #cccccc;
  }
  .select-list{
    width: 238px;
    background: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 3px #ddd;
    border-radius: 3px;
    display: none;
    z-index: 9;
    position: absolute;
    left: -1px;
    top: 35px;
    overflow: hidden;
  }
  .select-list ul{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 34px;
    max-height: 240px;
  }
  .select-list ul li{
    width: auto;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
  }
  .select-list ul li.selected,
  .select-list ul li:hover{
    color: #fff;
    background: #ed6c44;
  }
  
  /* 下拉列表不可用样式 */
  .select-button-disable{
    color: #ccc;
    width: 238px;
    height: 34px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    padding-left: 10px;
    overflow: hidden;
    text-align: left;
    outline: none;
  }
  .select-down-disable{
   color: #ccc;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 10px;
   line-height: 34px;
  }

/**************************Validform*************************/
.red{
  color:red!important;
}
.gray{
  color:#686868!important;
}
.hasDefaultText{color:#999;}
.orange{
  color:#f60!important;
}
.green{
  color:#79a605!important;
}
.blue{
  color:#0057b0!important;
}
.Select_tip{
  *display: inline-block !important;
  *float: left !important;
  *height: 34px !important;
  width:0;
  overflow: hidden;
}
.Validform_checktip{
  position:relative;
  display:inline-block;
  margin-left:8px;
  line-height:20px;
  height:20px;
  overflow:hidden;
  color:#999;
  font-size:12px;
}
.Validform_right{
  color:#71b83d;
  padding-left:20px;
  background:url(../../img/right.png) no-repeat left center;
}
.Validform_wrong{
  color:red;
  padding-left:20px;
  white-space:nowrap;
  background:#fff url(../../img/error.png) no-repeat left center;
}
.Validform_loading{
  padding-left:20px;
  background:url(../../img/onLoad.gif) no-repeat left center;
}
.Validform_error{
  background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}



/*面包屑*/
.crumbs{padding: 13px 0;color: #a3a3a3;}
.crumbs a{text-decoration: none !important;color: #666 !important;}
/*左侧公共导航*/
#eredar .eredar-left{width: 200px;background-color: #262535;text-align: center;float:left;margin-bottom:20px;padding-bottom:10px;}
#eredar .eredar-left dl.first{padding: 25px 0 0;}
#eredar .eredar-left dl{padding: 40px 0 0;}
#eredar .eredar-left dl dd{color: #fff;font-size: 16px;padding: 0 0 18px 0;}
#eredar .eredar-left dl dt{color: #8e8cab;padding: 5px 0;cursor: pointer;}
#eredar .eredar-left dl dt a{color: #8e8cab;}
#eredar .eredar-left dl dt.on{color: #ffaf00;border-right: solid 4px #ffaf00;background-color: #313044;}
#eredar .eredar-left dl dt.on a{color: #ffaf00;}


/***************************datatable换行***********************/
.datatable .table>tbody>tr>td{word-wrap: break-word;}



/*-------------------------------------公共页头页脚---------------------------------------*/
#jiuxColor{width: 100%;background-color: #fff;}
.jiuw1{min-width: 1190px;width:1190px;margin: 0 auto;}
.jiuw2{min-width: 1200px;width:1200px;margin: 0 auto;}
.jiux-header {
    height: 90px;
    line-height: 90px;
    font-size: 16px;
}

.jiux-header .header-l > a {
    display: inline-block;
    width: 150px;
    height: 90px;
    text-indent: -99em;
}
.header-l>a>.logo {
    width: 100%;
    height: 100%;
    background: url('../../img/logo.jpg') no-repeat center center;
}

.header-l > ul {
    /*width: 400px;*/
    padding: 23px 30px 22px;
    height: 45px;
    margin-left: 56px;
}

.header-l > ul > li {
    height: 45px;
    padding: 0 33px;
}
.header-l > ul > li>a{
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: RGB(83,83,83);
}

.header-l > ul > li.active {
    background-color: #FFAF00;
    -webkit-border-radius: 22.5px;
    -moz-border-radius: 22.5px;
    -o-border-radius: 22.5px;
    -ms-border-radius: 22.5px;
    border-radius: 22.5px;
}
.header-l > ul > li>a:hover{text-decoration: none;}
.header-l > ul > li.active>a{
    color:#000;
}
.header-r .tel li.staticW{
    width: 60px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    position:relative;
}
.header-r .tel li#loginBox{
    margin-right:30px;
    position: relative;
    padding-left:58px;
}
.header-r .tel li#loginBox span{
    display:inline-block;line-height: 90px;
}
.header-r .tel li#loginBox .uuname{
    max-width:100px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;
}
.header-r .tel li a{
    display: block;
    width: 60px;
    height: 90px;
    line-height: 90px;
    font-size: 16px;
    color: RGB(83,83,83) ;
}
.header-r .tel li a:hover{text-decoration: none;}
.header-r .tel li img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    vertical-align: middle;
    position: absolute;
    top:22px;
    left:0;

}
.header-r .tel li span#userName{
    display: block;
    color:#666;
    height: 90px;
    max-width: 100%;
    text-align: left;
    font-size: 16px;
    /*width: 64px; /!* IE6 ÐèÒª¶¨Òå¿í¶È *!/
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;    /!* Opera *!/
    text-overflow:    ellipsis;    /!* IE, Safari (WebKit) *!/*/
}
.header-r .tel li span.cuttingline{
    width: 1px;
    height: 14px;
    background-color: #ccc;
    position: absolute;
    top:38px;
    right:-9px;
}
.m-r{margin-right:20px;}
/*---------------------------foot------------------------------*/
.jiux-footer{width: 100%;margin: 0 auto;}
.jiux-footer .footer-top{
    height: 80px;
    background: #2a2a2a;
}
.jiux-footer .footer-top .fr a{
    display: inline-block;
    width:46px;
    height: 46px;
    margin-top:18px;
    margin-left:15px;
    cursor: auto;
}
.jiux-footer .footer-top .fr a{background-image: url('../../img/sprite-icon.png');background-repeat: no-repeat;}
.jiux-footer .footer-top .wb{background-position: 0 0;}
/*.jiux-footer .footer-top .wb:hover{background-position: 0 -46px;}*/
.jiux-footer .footer-top .wx{background-position: -46px 0;position: relative;}
/*.jiux-footer .footer-top .wx:hover{background-position: -46px -46px;}*/
.jiux-footer .footer-top .qq{background-position: -92px 0;}
/*.jiux-footer .footer-top .qq:hover{background-position: -92px -46px;}*/
.jiux-footer .footer-top .wx i{display: block;}
.jiux-footer .footer-top .wx:hover i{display: block;}
.jiux-footer .footer-top .wx i{
    position: absolute;
    display: none;
    width:155px;
    height: 172px;
    top:-168px;
    left:-58px;
    background: url('../../img/qr_code_tip.png') no-repeat center center;
}
.jiux-footer .footer-top li{
    float: left;
    color:#959595;
    margin-top:30px;
    margin-right:30px;
}
.jiux-footer .footer-top li a{
    color:#959595;
}
.jiux-footer .footer-top li a:hover{
    color:#f6ab00;
}
.jiux-footer .footer-bom{
    height: 180px;
    background: #151515;
}
.jiux-footer .footer-bom img{
    margin-top:38px;
    margin-bottom:10px;
}
.jiux-footer .footer-bom p{
    color:#484848;
    font-size:12px;
    margin-bottom:2px;
}
.jiux-footer .footer-bom p a{font-size: 12px;color: #666;}
.footID {
    margin: 0 auto;
    position: relative;
}
/*-----------------------------------------------------------*/


#ym-doc-mask{position:absolute;top:0;left:0;right:0;bottom:0;z-index:100;background:rgba(0, 0, 0, .3);}
#ym-pop-frame{position:fixed;left:50%;top:50%;border:2px solid #e3e3e3;background:#fff;z-index:999;}
#ym-pop-frame .ym-pop-hd{background: #f1f1f1 none repeat scroll 0 0;height: 35px;padding: 17px 20px 0;}
#ym-pop-frame .ym-pop-hd span.title{font-size:16px;color:#333;}
#ym-pop-frame .ym-pop-close{width:18px;height:18px;background:url('../../img/close-btn.png') no-repeat;position:absolute;right:15px;top:15px;cursor:pointer;}

#login-pop-frame{background:#fafafa;border-radius:15px;position:fixed;left:50%;top:50%;z-index:999;}
#login-pop-frame .ym-pop-bd{padding:50px 120px;}
#login-pop-frame .ym-pop-close{width:18px;height:18px;background:url('../../img/red-close-btn.png') no-repeat;position:absolute;right:20px;top:20px;cursor:pointer;}
#login-pop-frame h1.title{font-size:26px;color:#333;text-align:center;margin-bottom:46px;}
#login-pop-frame input.textinput{width:336px;height:46px;line-height:46px;padding:0 32px;border-radius:24px;font-size:16px;background:#fff;border:1px solid #e1e1e1;margin-bottom:14px;}
#login-pop-frame input.winloginbtn{width:400px;height:48px;line-height:48px;background:#fa4619;text-align:center;border-radius:24px;font-size:20px;color:#fff;border:none;cursor:pointer;}
#login-pop-frame p.first{margin-bottom:14px;}
#login-pop-frame p.first > label{float:left;}
#login-pop-frame p.first > a{float:right;color:#fa4619;text-decoration:underline;}
#login-pop-frame p.last{text-align:center;padding:14px 0;}
#login-pop-frame p.last > a{display:inline-block;margin-left:1em;color:#fa4619;}

/*----------------------------------------翻页按钮--------------------------------------------*/
.pagination {position: absolute;bottom:0;}
.pagination .pager{font-size:0;margin:20px 0;}
.pagination .disabled a{color:#ccc;}
.pagination li{display:inline-block;*display:inline;*zoom:1;margin-right:10px;}
.pagination li.active a{background: #ffaf00;color:#333;}
.pagination li a,.pagination li span{height: 29px;line-height: 29px;vertical-align: middle;}
.pagination li a{display: inline-block;border:1px solid #ddd;font-size:14px;padding:0 10px;}
.pagination li select{min-width:50px; padding:4px 0;}
