/***************************入驻审核流程***************************/
.ag-content{padding-left:72px;padding-right:72px;padding-bottom:27px;border-bottom:1px solid #ddd;margin-left:auto;margin-right:auto;width:996px;}
.agreement-box{border:1px solid #ddd;background: #fff;overflow: hidden;margin-bottom:30px;min-height:600px;}
.agreement-box .tit{height:44px;line-height: 40px;padding-left:30px;background: #f7f7f7;border-top:1px solid #ddd;color:#222;}
.agreement-box .titbox{width:1140px;margin:auto;padding-bottom:45px;}
.agreement-box h2{margin:auto;text-align: center;font-size:20px;color:#333;padding:23px;}
.agreement-box h3{font-size:14px;color:#333;padding-top:30px;line-height: 24px;}
.agreement-box p{font-size:14px;color:#666;line-height: 24px;}
.agreement-box .progress{width:845px;margin:45px auto;}
.agreement-box .progress .step{float:left;height:8px;width:169px;background: #dfdfdf;position: relative;}
.agreement-box .progress .step div{position:absolute;left: 63px;top:-15px; line-height: 36px;font-size:20px; text-align: center;color:#fff;
	width:37px;height:37px;background: url('../../img/spripte.png') no-repeat 0 0;}
.agreement-box .progress .step label{display: block;text-align: center;margin-top:28px;color: #999999;}
.agreement-box .progress .step-on{background: #ed6c44;}
.agreement-box .progress .step-on div{background: url('../../img/spripte.png') no-repeat -37px 0;}
.agreement-box .progress .step-on label{display: block;color:#ed6c44;}
.agreement-box .progress .step-fl{border-top-left-radius: 6px;border-bottom-left-radius: 6px;}
.agreement-box .progress .ya{border-top-right-radius: 6px;border-bottom-right-radius: 6px;}
.agreement-box .agreebtn{color:#fff;background: #ed6c44;width:270px;height: 36px;line-height: 36px;text-align: center; border:none;font-size:16px;margin:37px auto;display: block;}
.ag-content .pt_zz span a{color:#ed6c44;}
.ag-content .pt_zz span a:hover{text-decoration:underline;}
/***************************入驻身份选择***************************/
.mode-tab-nav{margin-bottom: 40px;}
.mode-tab-nav ul li { width: 238px; *width:239px; height: 196px;box-sizing: border-box;background: #fff3d4;border-left: 1px solid #ffdc8e;border-right: 1px solid #ffdc8e;cursor: pointer;}
.fl { float: left;*margin-right:-3px;}
.mode-tab-nav li .nav-top { width: 100%;  height: 150px;   position: relative;}
.icon{background: url(../../img/travel-zu.png) no-repeat;}
.icon1 {background-position: 0px 0px;}
.icon2 {background-position: -170px 0px;}
.icon3 { background-position: -352px 0px;}  
.icon4 { background-position: -519px 0px;}
.icon5 { background-position: -679px 0px;}
.mode-tab-nav li .nav-top span {  position: absolute; width: 120px;  height: 120px;  bottom: 16px;  left: 50%;   margin-left: -60px;}
.mode-tab-nav ul .first{border-left:none;}
.mode-tab-nav ul .la{border-right:none;}
.mode-tab-nav li .nav-bom{width: 142px;height: 32px;text-align: center;background:#f3f7fa;border-radius: 30px;line-height: 32px;margin:0 auto;color:#222;font-size: 18px;}
.mode-info{margin-left: 80px;}
.mode-tab .mode-info .info-title{ font-size: 16px;color:#222;font-weight: bold;}
.mode-tab .mode-info .info-text{font:14px/2 "Microsoft YaHei";color:#666;}
.mode-tab .mode-info .m-bottom60{margin-bottom: 34px;}
.mode-tab .mode-info .s-bottom60{margin-top: 40px;}
.line-bottom{width:1140px;height:1px;border-top:1px solid #dddddd;margin:38px auto 0;}
.settled{margin:30px 0 30px;}
.settled a{width:200px;height:36px;background:#ed6c44;text-align: center;line-height: 36px;margin:0 auto;display: block;font-size:16px;color:#fff;}
.mode-tab-nav ul li.current{border: none; background:none;color:#ffaf00;}

