/***************************用户协议***************************/
.ag-content{padding-left:72px;padding-right:72px;padding-bottom:27px;border-bottom:1px solid #ddd;margin-left:auto;margin-right:auto;width:996px;}
.agreement-box{border:1px solid #ddd;background: #fff;overflow: hidden;margin-bottom:100px;min-height:600px;}
.agreement-box .tit{height:44px;line-height: 40px;padding-left:30px;background: #f7f7f7;border-top:1px solid #ddd;}
.agreement-box .titbox{width:1140px;margin:auto;padding-bottom:22px;}
.agreement-box h2{margin:auto;text-align: center;font-size:20px;color:#333;padding:23px;}
.agreement-box h3{font-size:14px;color:#333;padding-top:30px;line-height: 24px;}
.agreement-box p{font-size:14px;color:#666;line-height: 24px;}
.agreement-box .progress{width:802px;margin:45px auto;}
.agreement-box .progress .step{float:left;height:8px;width:267px;background: #dfdfdf;position: relative;}
.agreement-box .progress .step div{position:absolute;left:115px;top:-15px; line-height: 36px;font-size:16px; text-align: center;color:#fff;
	width:37px;height:37px;background: url('../../img/spripte.png') no-repeat 0 0;}
.agreement-box .progress .step label{display: block;text-align: center;margin-top:28px;}
.agreement-box .progress .step-on{background: #ed6c44;}
.agreement-box .progress .step-on div{background: url('../../img/spripte.png') no-repeat -37px 0;}
.agreement-box .progress .step-on label{display: block;color:#ed6c44;}
.agreement-box .progress .step-fl{border-top-left-radius: 6px;border-bottom-left-radius: 6px;}
.agreement-box .progress .step-fr{border-top-right-radius: 6px;border-bottom-right-radius: 6px;}
.agreement-box .agreebtn{color:#fff;background: #ed6c44;width:270px;height: 36px;line-height: 36px;text-align: center; border:none;font-size:16px;margin:37px auto;display: block;}
.ag-content .pt_zz span a{color:#ed6c44;}
.ag-content .pt_zz span a:hover{text-decoration:underline;}
/***************************等待审核/审核不通过***************************/
.agreement-box .waiting i{display: inline-block;width:36px;height:36px;background: url('../../img/spripte.png') no-repeat -75px 0;}
.agreement-box .waiting .message{background: #FFFFE5;border:1px solid #F39A00;width:418px;padding-top:8px;text-align: center;margin:10px auto;padding: 11px 63px 11px 63px;}
.agreement-box .nothrough i{background: url('../../img/spripte.png') no-repeat -111px 0;}
.agreement-box .nothrough .bcs{color:#ed6c44;max-width:418px;word-wrap: break-word;}

/***************************填写资料***************************/
.agreement-box .wdfill{width:100%;}
.getcode{display: inline-block; width:108px;height:32px;line-height:32px;text-align:center;cursor:pointer;border:1px solid #ddd;color:#666;background: #f7f7f7;}
.fm_md{padding-bottom:26px;}
.fm_md input.inptxt{width:366px;height: 32px;line-height: 32px;border:1px solid #ddd;padding:0 5px;}
.fm_md textarea.inptxt{width:366px;height: 98px;border:1px solid #ddd;padding:5px;}
.fm_md .column{padding-left:202px;padding-top:26px;}
.fm_md table{width:100%;}
.fm_md table td{padding:13px 0;}
.tbtxt{text-align: right;vertical-align: middle;}
.w380{width:380px !important;}
.w280{width:280px !important;}
.w250{width:250px !important;}
.w150{width:150px !important;}


.fm_md_two table td.tbtxt,.fm_md_three table td.tbvt{text-align: right;vertical-align: top;}
.fm_md_two table td.tbtxt label,.fm_md_three table td.tbvt label{display: inline-block;margin-top:34px;}

.groupimg label{margin-bottom:10px;margin-right:5px;}
.groupimg .smtit{width:120px;text-align: center;line-height: 30px;color:666;}

.agreement-box .nextpage{width:1140px;margin: auto;padding:37px 0;margin-top:27px;border-top:1px solid #ddd;text-align:center;}
.agreement-box .nextpage a,.gows{width:270px;height: 36px;line-height:36px;text-align: center;display: inline-block; background: #ed6c44;color:#fff;border:none;}

/***************************选择注册类型***************************/
.chsdm{text-align: center;}
i.chst{display: inline-block;width:16px;height:16px;background: url('../../img/warning.jpg') no-repeat;margin-right:5px;}
label.chst{line-height: 16px;}
.chsdm a{display: block;width:120px;height:36px;line-height: 34px;background: #ed6c44;color:#fff;text-align: center;font-size: 14px;margin:20px auto;}
.chsdm div.centline{position: absolute;right: 0;top:40px; width:1px;height:284px;float:right;border-right:1px solid #eee;}
.chsdm div{width:50%;position: relative;padding-bottom:48px;}
.chsdm p{width:212px;margin:auto;}
.chsdm img{margin-bottom:40px;}
.chsdm h4{font-size: 16px;color:#333;margin-bottom:5px;}

iframe{display: none;}

.error_tip{position: relative;}
.error_tip .error_box{position: absolute;z-index:9999;top:0px;right: 110px; width:150px;background: #F2896B;padding-bottom:10px;padding-top:5px;
	border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;}
.error_tip .error_box div{width:118px;color:#fff;margin:auto;font-size:14px;border-bottom:1px solid #fff;height: 24px;line-height: 24px;text-align: center;}
.error_tip .error_box ol{list-style:decimal inside;}
.error_tip .error_box ol li{color:#fff;line-height: 20px;margin-left:15px;margin-right: 15px;margin-top:4px;font-size:12px;}

.tipboxl{position: relative;z-index: 999;}
.tipboxr{position: relative;z-index: 9;}
.tipbox{width:463px; text-align: center;padding:6px 0px 6px 6px;background: #eee;float: left;}
.tipbox img{width:76px;height: 76px;}
.tipbox label{display: block;font-size:12px;line-height: 12px;margin:3px 0;}
.tipbox p{width:369px;text-align: left;font-size:14px;line-height: 22px;margin-left:10px;color:#999;}
.othimb .inblock{margin-top:8px;}
.othimb .Validform_checktip{margin-top:40px;}







.agreement-box .fill-c .progress{width:845px;margin:45px auto;}
.agreement-box .fill-c  .progress .step{float:left;height:8px;width:169px;background: #dfdfdf;position: relative;}
.agreement-box .fill-c  .progress .step div{position:absolute;left: 63px;top:-15px; line-height: 36px;font-size:20px; text-align: center;color:#fff;
	width:37px;height:37px;background: url('../../img/spripte.png') no-repeat 0 0;}
.agreement-box .fill-c  .progress .step label{display: block;text-align: center;margin-top:28px;color: #999999;}
.agreement-box .fill-c  .progress .step-on{background: #ed6c44;}
.agreement-box .fill-c  .progress .step-on div{background: url('../../img/spripte.png') no-repeat -37px 0;}
.agreement-box .fill-c  .progress .step-on label{display: block;color:#ed6c44;}
.agreement-box .fill-c  .progress .step-fr{border-top-right-radius: 0px !important;border-bottom-right-radius: 0px !important;}
.agreement-box .fill-c  .progress .ya{border-top-right-radius: 6px !important;border-bottom-right-radius: 6px !important;}

.zh_scl{margin-bottom: 20px;}
.zh_sc .zfd{float: left;width: 416px;height:110px;padding-left: 130px;text-align: right;margin-top: 25px; }
.zh_sc-txt{width:205px;margin-left: 179px;padding-top: 5px;}
.last-step{margin-left: 20px;}
.fm_md .updateli{float: right;display: block; text-align: left;/* margin: 10px 23px; */width: 863px;margin-top: 40px;}
.fm_md .listli{width: 195px;display: block;float: right;text-align: right;margin-right: 13px;margin-top: 40px;}
.fl {}
.pagesave{float: left;}
.zhuyi{width: 665px !important;margin-right: 197px !important;}
.lefttitle {text-align: right;display: block;  width: 186px; float: left; margin-right: 10px;}
/* .gray9 {color: #999;display: block;float: right; text-align: right; margin-right: 76px;width: 152px;} */
.upload-img{display: inline-block;width: 120px;height: 90px; position: relative; overflow: hidden; text-align: left;float: left;}
.careful{margin-left: 63px;float: right;width: 171px; margin-right: 48px;text-align: left;}
.zu-img{width: 867px;float: right;}

.error_tip .error_bigbox{padding-left:10px;right:0px;}
