/***************************入驻审核流程***************************/
input{margin:0;padding:0 }
.ag-content{padding-left:72px;padding-right:72px;padding-bottom:27px;border-bottom:1px solid #ddd;margin-left:auto;margin-right:auto;width:996px;}
.agreement-box{border:1px solid #ddd;background: #fff;overflow: hidden;margin-top:25px;min-height:600px;}
.agreement-box .tit{height:44px;line-height: 40px;padding-left:30px;background: #f7f7f7;border-top:1px solid #ddd;color:#222;}
.agreement-box .titbox{width:1140px;margin:auto;}
.agreement-box h2{margin:auto;text-align: center;font-size:20px;color:#333;padding:23px;}
.agreement-box h3{font-size:14px;color:#333;padding-top:30px;line-height: 24px;}
.agreement-box p{font-size:14px;color:#666;line-height: 24px;}
.agreement-box .progress{width:845px;margin: 75px auto 57px;}
.agreement-box .progress .step{float:left;height:8px;width:169px;background: #dfdfdf;position: relative;}
.agreement-box .progress .step div{position:absolute;left: 63px;top:-15px; line-height: 36px;font-size:20px; text-align: center;color:#fff;
	width:37px;height:37px;background: url('../../img/spripte.png') no-repeat 0 0;}
.agreement-box .progress .step label{display: block;text-align: center;margin-top:28px;color: #999999;}
.agreement-box .progress .step-on{background: #ed6c44;}
.agreement-box .progress .step-on div{background: url('../../img/spripte.png') no-repeat -37px 0;}
.agreement-box .progress .step-on label{display: block;color:#ed6c44;}
.agreement-box .progress .step-fl{border-top-left-radius: 6px;border-bottom-left-radius: 6px;}
.agreement-box .progress .ya{border-top-right-radius: 6px;border-bottom-right-radius: 6px;}

/***************************商家信息填写***************************/
.agreement-box .infor-title{font-size: 16px;color:#222;height: 43px; line-height: 43px;padding-left: 30px; background: #f7f7f7; border-top: 1px solid #ddd;}
.agreement-box .nextpage{width: 1140px;margin: auto;padding: 37px 0 59px 0;margin-top: 13px;text-align: center;}
.agreement-box .nextpage a{width: 200px;height: 36px;line-height: 36px;text-align: center;display: inline-block;background: #ed6c44;color: #fff;border: none;margin-right: 30px;font-size: 16px;}
.agreement-box .rigtxt{text-align: right;vertical-align: middle; width: 300px !important;}
.agreement-box table td{padding: 13px 0;}
.agreement-box table .rigcontent{padding-left: 20px;}
.agreement-box table .rigtxt label{color:#666;}
.agreement-box table .rigcontent label{color:#222;}
.agreement-box  .notes{font-size: 12px;color:#666;margin-left: 320px;}
.agreement-box .lm{margin-left: 30px;margin-right: 5px;}
.agreement-box .flm{margin-right: 5px;}
.agreement-box .rigtit{vertical-align: top;}
.agreement-box table .rigcontent ol li{padding-bottom: 35px;}
.agreement-box table .rigcontent ol li input{margin-right: 5px;}
.agreement-box .one{padding:33px 0 29px 0;}
.agreement-box .two{padding:16px 0 40px 0;}
.agreement-box .three{padding:23px 0 43px 0;}
.agreement-box .four{padding:27px 0 27px 0;}
.agreement-box .five{padding:27px 0 27px 0;}
.agreement-box .six{padding:27px 0 27px 0;}
.agreement-box .seven{padding:27px 0 27px 0;}
 .agreement-box .seven .shopname{margin-left: 180px;width: 771px !important;*margin-left: 180px;*width: 955px !important;}
.agreement-box .seven .nameinput{margin-left: 18px;*margin-left: 25px;}
.agreement-box .two .qdlm{padding-bottom: 0px}
span{color:red;}
.agreement-box .three .lmnotes{padding-top:25px;}
.agreement-box .seven .namelm{padding-top:38px;}
.agreement-box .txt01{width:248px;height:34px;}
.agreement-box .txt02{width: 513px;height: 93px;padding-left: 5px;padding-top: 5px;}
.agreement-box .txt03{width:160px;height:34px;}
.agreement-box .txt04{width:620px;height:34px;}
.agreement-box .txt05{width:260px;height:34px; padding:5px;}
.agreement-box .txt06{width:248px;height:32px;vertical-align: top;margin-left: 5px;}
.agreement-box .four .widthrig{width: 145px !important;}
.agreement-box .four .vertop{vertical-align: top;}

.leftimg{margin-left: 15px;}
/***************************radio或者checkbox点击出现的弹框***************************/
.bomb{width:200px;position: relative;}
.bomb .aaa{ width:480px;height:16px;border:1px solid #ddd;padding:8px 10px 8px 10px;}
.bomb .aaa .bomb-con{margin-left: 34px;*margin-left: 25px;}
.bomb .aaa  input{margin-right: 5px;}
.bomb .aaa  label{vertical-align: top;}
.bomb .aaa {display:none; }
.bomb .aaa{position: absolute; top: -60px;left: 86px;*top: -30px;}
.company{display: none;}

/***************************等待审核css***************************/
.examine-box{margin-bottom: 20px;}
.line-top{width:1140px;height:1px;border-top:1px solid #ddd;margin:0 auto;margin-top: 85px;margin-bottom: 23px;}
.examine{width:1190px;}
.waiting-exa{width:32px;height:32px;background: url("../../img/succPass.png") no-repeat;}
.exa-text{margin:10px 0 15px 0;font-size: 16px;color:#666666;}
.exa-t{padding: 11px 63px 11px 63px;background: #ffffe5;border: 1px solid #f39a00;width:291px;}
.exa-t label{font-size:14px;color:#666;}
























