<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<link rel="shortcut icon" href="../../img/jiuxiu_favicon.ico" mce_href="../../img/jiuxiu_favicon.ico" type="image/x-icon" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"content="IE=9; IE=8; IE=7; IE=EDGE,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>等待审核</title>
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/base.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/common.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/PC_JX/src/css/filldata.css">
</head>
<body>
	<div id="jiuxColor" class="jiuw2">
		<div class="jiux-header wjiuxiu jiuw2 clearfix">
			<!-- 头部左侧部分 -->
			<div class="header-l fl clearfix">
				<a href="http://www.test.jiuxiulvxing.com" class="fl">
					<div class="logo">九休旅行</div>
				</a>
				<ul class="clearfix fl">
					<li class="fl"><a href="http://www.test.jiuxiulvxing.com">首页</a></li>
					<li class="fl"><a href="http://www.test.jiuxiulvxing.com/business/">九休商务</a></li>
					<li class="fl"><a href="http://www.test.jiuxiulvxing.com/app/index.html">九休旅行App</a></li>
					<li class="fl active"><a href="http://selleradmin.test.jiuxiulvxing.com/sellerAdmin/home">商家中心</a></li>
				</ul>
			</div>
			<!-- 头部右侧部分 -->
			<div class="header-r fr clearfix">
				<div class="tel">
					<ul>
						<li class="fl staticW m-r">
							<a href="http://selleradmin.test.jiuxiulvxing.com/sellerAdmin/user/login">登录</a>
							<span class="cuttingline"></span>
						</li>
						<li class="fl staticW m-r"><a href="http://selleradmin.test.jiuxiulvxing.com/sellerAdmin/user/register">注册</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="comwidth agreement-box mt30">
		<div class="tit gray6 f16">商家开通申请</div>
		<div class="titbox">
			<div class="progress clearfix">
				<div class="step start step-on step-fl">
					<div class="step1">1</div>
					<label class="step1">阅读协议</label>
				</div>
				<div class="step step-on">
					<div class="step2">2</div>
					<label class="step2">填写资料</label>
				</div>
				<div class="step step-on step-fr">
					<div class="step3">3</div>
					<label class="step3">等待审核</label>
				</div>
			</div>
		</div>
		<div class="waiting tc m60">
			<i></i><label class="f18 ml5 gray6">您的商家资料我们已经收到</label><br>
			<span class="f16 gray6">请等待审核结果，审核通过后即可使用！</span>
		</div>
	</div>
	<script type="text/javascript" src="../../src/js/sea.js"></script>
	<script type="text/javascript" src="../../src/js/seajs-preload.js"></script>
	<script type="text/javascript" src="../../src/js/config.js"></script>		
	<script>seajs.use("test");</script>	
</body>
</html>
