<div class ="rewiewID reW">
	<p>查询结果</p>
</div>
<div class = "rewiewInfo reW clearfix">
	<dl class = "infoleft"><img src="http://192.168.1.209:7500/v1/tfs/T1VFLTByZT1RXrhCrK_100x100.jpg"></br><strong title = "美少女战士" class = "gray6 infonick">美少女战士</strong></dl>
	<dl class = "inforight clearfix">
		<p>
			<em>订单编号：</em><span class = "black">H2392399858905</span>
			<em class="emW">商品编号：</em><span class = "black">38593856967</span>
			<em class="emW">商品名称：</em><span class = "black">香港澳门直飞5天4晚</span>
		</p>
		<p>
			<em>综合评分：</em><span>4.5</span>
			<em class="emW">评分项：</em><span>13.5</span>
			<em class="emW">评分项：</em><span>13.5</span>
			<em class="emW">评分项：</em><span>13.5</span>
		</p>
		<span class = "infoP">性价比超高，带着全家6口外加一个人小baby去玩了3天，航班时间非常好，整三天。酒店也是很不错，花同样的钱
				在香港只能睡重庆大厦了吧。流程都很顺畅，非常推荐！
		</span>
		<div class = "upload clearfix">
			<label class="inblock">
				<span class="imgbox mr5 cnat">
					<div class="canclick">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
					</div><div class="plhd"></div><div class="del">删除图片</div>
					<a class = "upldclik"><input type="file" name="adpicfile" class="adpicfile mult"></a>
					<input type="hidden" name="imgpath">
				</span>
			</label>
			<label class="inblock">
				<span class="imgbox mr5 cnat">
					<div class="canclick">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
					</div><div class="plhd"></div><div class="del">删除图片</div>
					<a class = "upldclik"><input type="file" name="adpicfile" class="adpicfile mult"></a>
					<input type="hidden" name="imgpath">
				</span>
			</label>
		</div>
		<p class = "infotime">2016-5-16  12:45:12</p>
	</dl>
</div>
<div class = "rewiewInfo reW clearfix">
	<dl class = "infoleft"><img src="http://192.168.1.209:7500/v1/tfs/T1VFLTByZT1RXrhCrK_100x100.jpg"></br><strong title = "美少女战士" class = "gray6 infonick">美少女战士</strong></dl>
	<dl class = "inforight clearfix">
		<p>
			<em>订单编号：</em><span class = "black">H2392399858905</span>
			<em class="emW">商品编号：</em><span class = "black">38593856967</span>
			<em class="emW">商品名称：</em><span class = "black">香港澳门直飞5天4晚</span>
		</p>
		<p>
			<em>综合评分：</em><span>4.5</span>
			<em class="emW">评分项：</em><span>13.5</span>
			<em class="emW">评分项：</em><span>13.5</span>
			<em class="emW">评分项：</em><span>13.5</span>
		</p>
		<span class = "infoP">性价比超高，带着全家6口外加一个人小baby去玩了3天，航班时间非常好，整三天。酒店也是很不错，花同样的钱
				在香港只能睡重庆大厦了吧。流程都很顺畅，非常推荐！
		</span>
		<div class = "upload clearfix">
			<label class="inblock">
				<span class="imgbox mr5 cnat">
					<div class="canclick">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
					</div><div class="plhd"></div><div class="del">删除图片</div>
					<a class = "upldclik"><input type="file" name="adpicfile" class="adpicfile mult"></a>
					<input type="hidden" name="imgpath">
				</span>
			</label>
			<label class="inblock">
				<span class="imgbox mr5 cnat">
					<div class="canclick">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
					</div><div class="plhd"></div><div class="del">删除图片</div>
					<a class = "upldclik"><input type="file" name="adpicfile" class="adpicfile mult"></a>
					<input type="hidden" name="imgpath">
				</span>
			</label>
		</div>
		<p class = "infotime">2016-5-16  12:45:12</p>
	</dl>
</div>
<div class = "skip clearfix">
	<ul>
		<li class = "first"><a><img src ="../../img/revLeft.png"></a></li>
		<li><a>1</a></li>
		<li><a>2</a></li>
		<li><a>3</a></li>
		<li><a>...</a></li>
		<li><a>10</a></li>
		<li><a><img src ="../../img/revRight.png"></a></li>
		<li><strong>跳转到：</strong></li>
		<li class = "a"><input type = "text"></input></li>
		<li><a>GO</a></li>
	</ul>
</div>