<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />   
        <title>404</title>
		<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/busines/src/css/base.css">
		<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/busines/src/css/common.css">
		<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/busines/src/css/account.css">
		<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/busines/src/css/404.css">
    </head>
	<body class = "bodyWhite">
		<div class="header">
			<div class="comwidth content clearfix">
				<a class="fl block"><img src="../img/logo.jpg"></a>
				<div class="fr user-block">
					<a class="user-block-link mr15 not-a">
						<span class="circle mr10"><img src="../img/default_1.png"><i></i></span>
						<span>Hi：</span><span>13655545879</span>
					</a>
					<a class="ext">退出</a>
				</div>
			</div>
		</div>
		<div id = "error">
			<div class = "comwidth errorid">
				<img src = "../img/bg-400.jpg" class = "errorImg">
			</div>
			<div class = "updata clearfix comwidth">
				<ul>
					<li>
						<a class = "updata">重新加载</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>